.top-container{
    width: 100%;
    height: 130vh;
    margin-top: 10em;
    // background: rgb(136, 135, 135);
    // background: rgb(136, 135, 135);
    // background: linear-gradient(180deg, rgba(136, 135, 135, 1) 0%, rgba(0, 0, 0, 0) 100%);
    // // background-image: url(../images/half4.JPG);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    z-index: -1;
}
.hero{
    width: 40%;
    height: 950px;
    // margin: 0 auto;
    // position: absolute;
    
}
.effect-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    mix-blend-mode: lighten;
    // object-fit: cover;
}
.effect-vid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.about-us-herotxt{
    z-index: 10;
    color: #171717;
}
.about-us-herotxt img{
    width: 60%;

}

.about-us-herotxt > h2, .about-us-herotxt h3{
    margin: 0;
    padding: 0;
}
.about-us-herotxt .main{
    font-size: 8rem;
    text-align: center;
}
.sub-herotxt{

}
.square-about{
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 65%;
    
}

.square-about--txt{
    font-size: 1.5rem;
    margin-right: 3em;
    padding-right: 1em;
    border-right: 5px solid rgb(236, 135, 148);
}
.square-about img{
    width: 300px;
    height: 300px;
    /* float: left; */
}
.about-ribbon{
    width: 400px;
    height: 100%;
    background: rgb(236, 135, 148);
    position: absolute;
    top: 0;
    left: 12%;
    z-index: -1;
}
.overlay.lighter{
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
.about-us{
    margin-top: 8em;
    height: 100vh;
    z-index: 10;
    background-color: #fff;
}
.about-us--txt{
    line-height: 2;

}
.about-us--cont{
    margin-top: -5em;
}


@media (max-width: 575.98px) {
    .about-us{
        margin-top: 4em;
    }
    .about-ribbon{
        width: 80px;
        left: 5%;
    }
    
    .square-about{
        bottom: 8%;
        right: 5%;

    }
    .square-about--txt{
        margin-right: 0.3em;
        padding-right: 0.5em;
    }
    .square-about img{
        width: 100px;
        height: 100px;
    }
    .about-us--cont{
        margin-top: 0;
        width: 85%;
    }


}


@media (min-width: 576px) and (max-width: 767.98px) {
    .about-us {
        margin-top: 2em;
    }
    .about-ribbon{
        width: 120px;
        left: 5%;
    }
    
    .square-about{
        bottom: 10%;
        right: 9%;

    }
    
    .square-about img{
        width: 150px;
        height: 150px;
    }
    .about-us--cont{
        margin-top: 0;
        width: 80%;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .about-us {
        margin-top: 2em;
    }
    .about-ribbon{
        width: 200px;
        left: 5%;
    }
    
    .square-about{
        bottom: 10%;
        right: 4%;

    }
    
    .square-about img{
        width: 180px;
        height: 180px;
    }
    .about-us--cont{
        margin-top: 0;
        width: 75%;
    }

}
