#first-pr-btls{
    background-image: url(../images/water-rain-drops-53470.jpg);
    
}
/* .overlay1{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.6;
    
    width: 100%;
    height: 100%;

} */