@font-face {
  font-family: shabnam;
  src: url("fonts/Shabnam.eot");
  src: url("fonts/Shabnam.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam.woff") format("woff"), url("../fonts/Shabnam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: shabnam;
  src: url("fonts/Shabnam-FD.eot");
  src: url("fonts/Shabnam-FD.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam-FD.woff") format("woff"), url("../fonts/Shabnam-FD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: shabnam;
  src: url("fonts/Shabnam-Bold.eot");
  src: url("fonts/Shabnam-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam-Bold.woff") format("woff"), url("../fonts/Shabnam-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  font-size: 1em;
  font-size: calc(0.5em + 1vw);
  direction: rtl;
  --animate: all .3s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: shabnam,sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: shabnam, sans-serif, Arial;
}

@media (min-width: 50em) {
  :root {
    font-size: 1.005em;
  }
}

::-webkit-scrollbar {
  width: .4rem;
}

::-webkit-scrollbar-track {
  background: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-to-top {
  position: fixed;
  display: none;
  bottom: 1em;
  right: 1em;
  z-index: 100;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.s-active {
  display: block;
}

#scroll-icon {
  fill: lightcoral;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.scroll-to-top:hover {
  cursor: pointer;
}

.scroll-pointer:hover {
  color: red;
  cursor: pointer;
}

@-webkit-keyframes scroll {
  0% {
    margin-top: 0.5em;
  }
  100% {
    margin-top: 1em;
  }
  0% {
    margin-top: 0.5em;
  }
}

@keyframes scroll {
  0% {
    margin-top: 0.5em;
  }
  100% {
    margin-top: 1em;
  }
  0% {
    margin-top: 0.5em;
  }
}

/* section title */
.section-title {
  font-size: 3rem;
}

.products-grid,
.d-ib {
  display: inline-block;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.h-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.v-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hv-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.b-blue {
  background-color: #062c3d;
}

.b-black {
  background-color: #000 !important;
}

.after-v-c {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* flexbox container */
.flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* width: 100% */
.w100 {
  width: 100% !important;
}

.vh-100 {
  height: 100vh;
}

.fb-100 {
  -ms-flex-preferred-size: 100% !important;
      flex-basis: 100% !important;
}

/* justify-content: center; */
.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* align-items: center */
.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* flex-wrap: wrap */
.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hidden {
  display: none;
}

.p-relative {
  position: relative;
}

.p-abs {
  position: absolute;
}

.txt-center {
  text-align: center !important;
}

.txt-bold {
  font-weight: bold !important;
}

.d-ltr {
  direction: ltr !important;
}

button, input[type=submit] {
  text-align: center;
  font-family: inherit;
  font-size: 1rem;
  display: block;
  border: none;
  outline: none;
}

button:hover, input[type=submit]:hover {
  cursor: pointer;
}

button:focus, input[type=submit]:focus {
  outline: none;
  cursor: pointer;
}

.btn-info {
  border: 1px solid #4c78b3;
  background-color: #4c78b3;
}

.btn-black {
  background: #000;
  border-color: #000;
}

.cl-btn, .edit-btn {
  color: #000;
  background: #E5E5E5;
  border: 1px solid transparent;
  margin-bottom: 5px;
  font-size: 16px;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 1px 6px;
}

.tooltip {
  position: relative;
}

.tooltip-txt {
  visibility: hidden;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #000;
  color: #fff;
  font-size: .7rem;
  padding: .2em .4em;
  border-radius: 1em;
}

.tooltip:hover .tooltip-txt {
  visibility: visible;
}

.tooltip .tooltip-txt::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.login-page-c {
  background: #ECECE2;
  color: #2E3238;
}

.login-container {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

.form-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.login-form-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 30px 50px;
}

.tab {
  display: none;
}

.login-form-c--guide-txt {
  font-size: .75rem;
  text-align: right;
  margin-bottom: 18px;
}

.txt-in-container {
  position: relative;
}

.txt-in-container input {
  color: #000;
  background: none;
  z-index: 100;
  width: 100%;
  outline: none;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
  padding: 10px;
  padding-right: 23px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.txt-in-container input.invalid {
  border-color: #db473c;
}

.txt-in-container label {
  position: absolute;
  top: 12px;
  right: 24px;
  color: #767677;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 2;
  cursor: auto;
}

.txt-in-container input:valid {
  background-color: #ECECE2;
}

.txt-in-container input:valid + label {
  color: transparent;
  z-index: -1;
}

.txt-in-container input:focus {
  border-color: #000;
  color: #000;
}

.txt-in-container input:focus + label {
  top: -8px;
  color: black;
  background-color: #ECECE2;
  z-index: 101;
  padding: 0px 5px;
  font-size: 12px;
}

.txt-in-container img {
  position: absolute;
  top: 45%;
  right: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50%;
}

.login-form-c--guide-txt #mobile-num {
  color: #1688dc;
}

.login-form-c--pnum-edit {
  margin-bottom: 18px;
}

.login-form-c--pnum-edit-btn {
  background: transparent;
  color: #1688dc;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid;
  padding: 0;
}

.login-form-c--btn-con {
  margin-top: 20px;
}

.login-form-c--btn-con button {
  width: 100%;
}

.returned-code-inputs {
  direction: ltr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.returned-code-inputs input {
  color: #fff;
  width: 3.3em;
  height: 2.6em;
  font-size: 1rem;
  text-align: center;
  background: transparent;
  border: 2px solid #168adc86;
  outline: none;
  padding: 1em;
}

.returned-code-inputs input.invalid {
  border-color: #cf4040;
}

.timer-container {
  padding-top: 20px;
}

.timer-container--time {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid;
}

.success-img {
  width: 100%;
  height: 120px;
}

.login-form-c--guide-txt.success-txt {
  font-size: 18px;
  color: #000;
}

@media (max-width: 575.98px) {
  #scroll-icon {
    fill: lightcoral;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=base_style.css.map */