@font-face {
  font-family: shabnam;
  src: url("fonts/Shabnam.eot");
  src: url("fonts/Shabnam.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam.woff") format("woff"), url("../fonts/Shabnam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: shabnam;
  src: url("fonts/Shabnam-FD.eot");
  src: url("fonts/Shabnam-FD.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam-FD.woff") format("woff"), url("../fonts/Shabnam-FD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: shabnam;
  src: url("fonts/Shabnam-Bold.eot");
  src: url("fonts/Shabnam-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Shabnam-Bold.woff") format("woff"), url("../fonts/Shabnam-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  font-size: 1em;
  font-size: calc(0.5em + 1vw);
  direction: rtl;
  --animate: all .3s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: shabnam,sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: shabnam, sans-serif, Arial;
}

@media (min-width: 50em) {
  :root {
    font-size: 1.005em;
  }
}

::-webkit-scrollbar {
  width: .4rem;
}

::-webkit-scrollbar-track {
  background: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-to-top {
  position: fixed;
  display: none;
  bottom: 1em;
  right: 1em;
  z-index: 100;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.s-active {
  display: block;
}

#scroll-icon {
  fill: lightcoral;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.scroll-to-top:hover {
  cursor: pointer;
}

.scroll-pointer:hover {
  color: red;
  cursor: pointer;
}

@-webkit-keyframes scroll {
  0% {
    margin-top: 0.5em;
  }
  100% {
    margin-top: 1em;
  }
  0% {
    margin-top: 0.5em;
  }
}

@keyframes scroll {
  0% {
    margin-top: 0.5em;
  }
  100% {
    margin-top: 1em;
  }
  0% {
    margin-top: 0.5em;
  }
}

/* section title */
.section-title {
  font-size: 3rem;
}

.products-grid,
.d-ib {
  display: inline-block;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.h-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.v-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hv-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.b-blue {
  background-color: #062c3d;
}

.b-black {
  background-color: #000 !important;
}

.after-v-c {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* flexbox container */
.flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* width: 100% */
.w100 {
  width: 100% !important;
}

.vh-100 {
  height: 100vh;
}

.fb-100 {
  -ms-flex-preferred-size: 100% !important;
      flex-basis: 100% !important;
}

/* justify-content: center; */
.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* align-items: center */
.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* flex-wrap: wrap */
.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hidden {
  display: none;
}

.p-relative {
  position: relative;
}

.p-abs {
  position: absolute;
}

.txt-center {
  text-align: center !important;
}

.txt-bold {
  font-weight: bold !important;
}

.d-ltr {
  direction: ltr !important;
}

button, input[type=submit] {
  text-align: center;
  font-family: inherit;
  font-size: 1rem;
  display: block;
  border: none;
  outline: none;
}

button:hover, input[type=submit]:hover {
  cursor: pointer;
}

button:focus, input[type=submit]:focus {
  outline: none;
  cursor: pointer;
}

.btn-info {
  border: 1px solid #4c78b3;
  background-color: #4c78b3;
}

.btn-black {
  background: #000;
  border-color: #000;
}

.cl-btn, .edit-btn {
  color: #000;
  background: #E5E5E5;
  border: 1px solid transparent;
  margin-bottom: 5px;
  font-size: 16px;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 1px 6px;
}

.tooltip {
  position: relative;
}

.tooltip-txt {
  visibility: hidden;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #000;
  color: #fff;
  font-size: .7rem;
  padding: .2em .4em;
  border-radius: 1em;
}

.tooltip:hover .tooltip-txt {
  visibility: visible;
}

.tooltip .tooltip-txt::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.login-page-c {
  background: #ECECE2;
  color: #2E3238;
}

.login-container {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

.form-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.login-form-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 30px 50px;
}

.tab {
  display: none;
}

.login-form-c--guide-txt {
  font-size: .75rem;
  text-align: right;
  margin-bottom: 18px;
}

.txt-in-container {
  position: relative;
}

.txt-in-container input {
  color: #000;
  background: none;
  z-index: 100;
  width: 100%;
  outline: none;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
  padding: 10px;
  padding-right: 23px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.txt-in-container input.invalid {
  border-color: #db473c;
}

.txt-in-container label {
  position: absolute;
  top: 12px;
  right: 24px;
  color: #767677;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 2;
  cursor: auto;
}

.txt-in-container input:valid {
  background-color: #ECECE2;
}

.txt-in-container input:valid + label {
  color: transparent;
  z-index: -1;
}

.txt-in-container input:focus {
  border-color: #000;
  color: #000;
}

.txt-in-container input:focus + label {
  top: -8px;
  color: black;
  background-color: #ECECE2;
  z-index: 101;
  padding: 0px 5px;
  font-size: 12px;
}

.txt-in-container img {
  position: absolute;
  top: 45%;
  right: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50%;
}

.login-form-c--guide-txt #mobile-num {
  color: #1688dc;
}

.login-form-c--pnum-edit {
  margin-bottom: 18px;
}

.login-form-c--pnum-edit-btn {
  background: transparent;
  color: #1688dc;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid;
  padding: 0;
}

.login-form-c--btn-con {
  margin-top: 20px;
}

.login-form-c--btn-con button {
  width: 100%;
}

.returned-code-inputs {
  direction: ltr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.returned-code-inputs input {
  color: #fff;
  width: 3.3em;
  height: 2.6em;
  font-size: 1rem;
  text-align: center;
  background: transparent;
  border: 2px solid #168adc86;
  outline: none;
  padding: 1em;
}

.returned-code-inputs input.invalid {
  border-color: #cf4040;
}

.timer-container {
  padding-top: 20px;
}

.timer-container--time {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid;
}

.success-img {
  width: 100%;
  height: 120px;
}

.login-form-c--guide-txt.success-txt {
  font-size: 18px;
  color: #000;
}

@media (max-width: 575.98px) {
  #scroll-icon {
    fill: lightcoral;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.d-lg-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lg-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lg-flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.lg-flexdir-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lg-justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lg-justify-content-satrt {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.lg-justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.lg-justify-content-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lg-justify-content-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.lg-justify-content-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.lg-align-items-satrt {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.lg-align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lg-align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lg-align-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.lg-align-items-base {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.lg-flexbasis-100 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.lg-flexbasis-50 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.lg-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lg-flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.w-lg-50 {
  width: 50%;
}

.w-lg-100 {
  width: 100%;
}

.h-lg-100 {
  height: 100%;
}

/* positioning */
.p-fixed {
  position: fixed;
}

.p-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.p-relative {
  position: relative;
}

.p-abs {
  position: absolute;
}

.box {
  position: relative;
}

.center {
  position: absolute;
}

.center-hv {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.center-h {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.center-v {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* break pointa */
@media (max-width: 575.98px) {
  .d-xs-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .xs-flexdir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .xs-justify-content-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .xs-justify-content-satrt {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .xs-justify-content-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .xs-justify-content-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .xs-justify-content-sa {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .xs-justify-content-sa {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .xs-align-items-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .xs-align-items-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .xs-align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .xs-align-items-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .xs-align-items-base {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .xs-flexbasis-100 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .xs-flexbasis-50 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .xs-flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .xs-flex-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .w-xs-100 {
    width: 100%;
  }
  .w-xs-50 {
    width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sm-flexdir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sm-justify-content-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sm-justify-content-satrt {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sm-justify-content-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .sm-justify-content-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sm-justify-content-sa {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sm-justify-content-sa {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .sm-align-items-satrt {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sm-align-items-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .sm-align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sm-align-items-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .sm-align-items-base {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .sm-flexbasis-100 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .sm-flexbasis-50 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .sm-flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sm-flex-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .w-sm-100 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .md-flexdir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .md-justify-content-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .md-justify-content-satrt {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .md-justify-content-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .md-justify-content-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .md-justify-content-sa {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .md-justify-content-sa {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .md-align-items-satrt {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .md-align-items-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .md-align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .md-align-items-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .md-align-items-base {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .md-flexbasis-100 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .md-flexbasis-50 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .md-flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .md-flex-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .w-md-100 {
    width: 100% !important;
  }
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 102;
  color: black;
  background: #f7f7f7;
  padding: 1em 4em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5em 4em;
  font-size: 0.9rem;
}

nav.sticky .logo a {
  width: 70px;
  height: 70px;
}

nav.sticky form button {
  font-size: 0.9rem;
}

#menue-check {
  display: none;
}

.logo a {
  display: block;
  width: 80px;
  height: 80px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .logo img {
  width: 100%;
  height: 100%;
}

.menue-body {
  margin-left: auto;
}

.menue-body li {
  padding-left: 1em;
}

.menue-body a {
  color: #000;
  text-decoration: none;
}

.menue-body li a:hover {
  cursor: pointer;
}

.menue-body form button {
  background: transparent;
}

@media (max-width: 991.8px) {
  nav, nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    font-size: 0.9rem;
    padding: 0.2em 0;
  }
  .transparrent {
    background: transparent;
  }
  nav.sticky .logo a, .logo a {
    width: 60px;
    height: 60px;
    padding: 0.3em 0 0.3em 0.3em;
  }
  .menue-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    z-index: 105;
  }
  .transparrent {
    background-color: transparent;
  }
  .menue-body {
    background-color: rgba(0, 0, 0, 0.733);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    right: -100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* transition: all 0.3s ease-in-out; */
  }
  .menue-body.active {
    right: 0;
  }
  .menue-body a {
    color: #fff;
    font-size: 1.3rem;
  }
  .menue-body li {
    padding: 1em 0;
  }
  .hambergur {
    display: block;
    cursor: pointer;
  }
  .hambergur label {
    display: block;
  }
  .menue {
    direction: rtl;
  }
  .transparrent .hambergur > span > span {
    background-color: blue;
  }
  .hambergur > span > span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 5px;
    background-color: #000;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .hambergur > span > span:nth-child(2) {
    width: 21px;
  }
  .hambergur > span.is-active > span {
    background: #fff;
  }
  .hambergur > span.is-active > span:nth-child(2) {
    opacity: 0;
  }
  .hambergur > span.is-active > span:nth-child(1) {
    -webkit-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg);
  }
  .hambergur > span.is-active > span:nth-child(3) {
    -webkit-transform: translateY(-7px) rotate(-45deg);
            transform: translateY(-7px) rotate(-45deg);
  }
}

footer {
  padding: 8em 5em 1em;
  position: relative;
  overflow: hidden;
  background-color: #000;
  color: #616161;
  z-index: 101;
  overflow: hidden;
  z-index: 9;
}

footer.home-footer {
  margin-top: -5em;
}

footer a {
  color: #616161;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#comp-ico {
  fill: rgba(105, 105, 105, 0.075);
  top: 25%;
  -webkit-transform: scale(2.1) translateX(-22%);
  transform: scale(2.1) translateX(-22%);
  z-index: -1;
}

.footer-head h2 {
  font-size: 2.5rem;
}

.f-links {
  color: white;
  margin: 2em 0 2.5em;
}

.f-links a {
  padding: 1em 2em;
  border-bottom: 2px solid transparent;
}

.f-links a:hover {
  color: #b6b6b6;
  border-color: #b6b6b6;
}

.f-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.comp-add {
  border-top: 1px solid #616161;
}

.f-contact {
  /* padding-top: 1em; */
  /* font-weight: bold; */
  /* color      : white; */
  font-size: .9rem;
}

.ph-num {
  display: inline-block;
  direction: ltr;
}

.social-links {
  margin-top: 3em;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social-icon {
  padding: 0 1em;
}

.social-icon svg {
  fill: #616161;
}

.agency-btn {
  border: 1px solid #616161;
  padding: 1em 3em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.agency-btn .agency-arrow {
  position: absolute;
  right: 1em;
  font-size: 1.3em;
  opacity: 0;
  -webkit-transition: opacity .3s, right .3s;
  transition: opacity .3s, right .3s;
}

.f-ad-container {
  padding-top: 3em;
}

.comp-add {
  border-top: 1px solid #616161;
}

.f-contact {
  font-size: .9rem;
}

.ph-num {
  display: inline-block;
  direction: ltr;
}

.agency-btn:hover {
  color: #b6b6b6;
  border-color: #b6b6b6;
}

.agency-btn:hover .agency-arrow {
  right: 10px;
  opacity: 1;
}

.copy-right {
  font-family: sans-serif;
  padding-top: 4em;
  font-size: 0.8rem;
}

.footer-title {
  border-bottom: 2px solid #918f8f;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

@media (max-width: 575.98px) {
  .f-links a {
    padding: 1em 1em;
    border-bottom: 2px solid transparent;
  }
  .social-icon svg {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .social-icon {
    padding: 0 .5em;
  }
  .f-agency {
    margin-top: 2em;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  footer {
    padding: 8em 2em 1em;
  }
  .follow-us-txt {
    display: none;
  }
  .social-links {
    text-align: center;
  }
}
/*# sourceMappingURL=base.css.map */