.contact-us{
    z-index: 10;
    background-color: #fff;
    padding-top: 8em;
}
.map-co{
    background-color: #b9b9b9;
}
.map-co::before,.maps-co::after{
    content: " ";
    position: absolute;
    top: -10%;
    right: -10%;
    background-color: rgb(218, 74, 153);
}
.map-co::before{
    height: 10%;
    width : 30%;
}
.map-co::after{
    content : " ";
position: absolute;
top     : -10%;
right   : -10%;
background-color: rgb(218, 74, 153);
    height: 55%;
    width : 10%;
}
.contact-info {
    padding-right: 2em;
}
div + .head{
    margin-top: 1.5em;
}
.head{
    color: #9b9b9b;
    font-size: 0.9rem;
}
.contact-ico{
    padding-left: 2em;
    border-left: 1px solid #000;
}
.contact-info a{
    color          : rgb(97, 97, 97);
    text-decoration: none;
    transition     : all .3s ease-in-out;
}
.contact-info .social-icon{
    padding: 0;
    padding-left: 1em;
}
.ci-sicons{
    margin-top: 0.5em;
}
.contact-form{
    padding-top: 10em;
    padding-bottom: 10em;
}

.contact-form,.cantact-info-container{
    width: 60%;
    margin: auto;
}
.cantact-info-container{
    margin-bottom: 10em;
}
.form-group{
    display: flex;
    margin-bottom: 1em;
}
.input-control[type='text'] {
    max-height: 2.43em;
}
.form-group .input-control {
    flex            : 1 1 auto;
    display         : block;
    margin-left     : .4em;
}
.form-group input,
.form-group textarea,
.form-group select {
    padding   : 1.5em .6em;
    font-size : 1rem;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color    :#b9b9b9;
    color     : rgb(0, 0, 0);
    transition: all .3s ease-in-out;
    font-family: shabnam, sans-serif;
    font-size: 0.9rem;
}
.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    outline     : none;
    border-color: #000;
}

.form-btn {
    background   : rgb(218, 74, 153);
    border-radius: 2em;
    border       : 2px solid rgb(218, 74, 153);
    padding      : 1em 2.5em;
    color        : #fff;
    font-size    : 0.8rem;
}
.form-btn:hover{
    background: rgb(219, 102, 167);
    border-color: rgb(219, 102, 167);
}
.reset {
    background  : #cf4040 !important;
    border-color: #cf4040 !important;
    margin-right: .5em !important;
    font-size   : .9rem !important;
}



@media (max-width: 575.98px) {

    .contact-form, .cantact-info-container{
        width: 100%;
    }
    .contact-form{
        padding: 3em 2em;
        margin-top: 1em;
    }
    .cantact-info-container iframe{
        width: 100%;
    }
    .map-co,.contact-info{
        flex-basis: 100%;
    }
    .contact-info{
        margin-top: 3em;
    }
    map-co::before {
        height: 20px;
        width : 35%;
    }

    .map-co::before,
    .maps-co::after {
        content : " ";
        position: absolute;
        top     : -20px;
        right   : 0;
        background-color: rgb(218, 74, 153);
    }
    .map-co::after {
        content         : " ";
        position        : absolute;
        top             : -20px;
        right           : 0;
        background-color: rgb(218, 74, 153);
        height          : 30%;
        width           : 20px;
    }
    .form-group input,.form-group textarea,.form-group select{
        border-color: #b9b9b9;
        border-width: 1px;
    }
    .form-group{
        flex-wrap: wrap;
    }
    .form-group input:nth-child(even){
        margin-top: 1em;
    }
    
}



@media (min-width: 576px) and (max-width: 767.98px) {
    .contact-form, .cantact-info-container{
        width: 80%;
    }
    .map-co,.contact-info{
        flex-basis: 100%;
    }
    .cantact-info-container iframe {
        width: 100%;
    }
    map-co::before {
        height: 30px;
        width : 35%;
    }

    .map-co::before,
    .maps-co::after {
        content : " ";
        position: absolute;
        top     : -30px;
        right   : -30px;
        background-color: rgb(218, 74, 153);
    }
    .map-co::after {
        content         : " ";
        position        : absolute;
        top             : -30px;
        right           : -30px;
        background-color: rgb(218, 74, 153);
        height          : 30%;
        width           : 30px;
    }
    .contact-info {
        padding-top: 3em;
        padding-right: 0;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .contact-form, .cantact-info-container{
        width: 70%;
    }
    .map-co,.contact-info{
        flex-basis: 100%;
    }
    .cantact-info-container iframe {
        width: 100%;
    }
    map-co::before {
        height: 30px;
        width : 35%;
    }

    .map-co::before,
    .maps-co::after {
        content : " ";
        position: absolute;
        top     : -30px;
        right   : -30px;
        background-color: rgb(218, 74, 153);
    }
    .map-co::after {
        content         : " ";
        position        : absolute;
        top             : -30px;
        right           : -30px;
        background-color: rgb(218, 74, 153);
        height          : 30%;
        width           : 30px;
    }
    .contact-info {
        padding-top: 3em;
        padding-right: 0;
    }
}