.ew {
  width: 100%;
  height: 100vh;
  background-image: url(../images/error.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #3a3a3a;
}

.ew--logo img {
  /* margin: auto; */
  width: 100px;
  margin-bottom: 6em;
}

.ew--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

.top {
  z-index: 2;
}

.ew--main-txt {
  font-size: 14rem;
  font-family: sans-serif;
  font-weight: 900;
}

.ew--sup-txt {
  font-weight: bold;
  margin-bottom: -2em;
}

.ew--sub-txt {
  margin-top: -2em;
}

.ew a {
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: #e94d80;
  padding: 1em 2em;
  border-radius: 3em;
  font-weight: bold;
  margin-top: 2em;
}
/*# sourceMappingURL=error.css.map */