footer {
  padding: 8em 5em 1em;
  position: relative;
  overflow: hidden;
  background-color: #000;
  color: #616161;
  z-index: 101;
  overflow: hidden;
  z-index: 9;
}

footer.home-footer {
  margin-top: -5em;
}

footer a {
  color: #616161;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#comp-ico {
  fill: rgba(105, 105, 105, 0.075);
  top: 25%;
  -webkit-transform: scale(2.1) translateX(-22%);
  transform: scale(2.1) translateX(-22%);
  z-index: -1;
}

.footer-head h2 {
  font-size: 2.5rem;
}

.f-links {
  color: white;
  margin: 2em 0 2.5em;
}

.f-links a {
  padding: 1em 2em;
  border-bottom: 2px solid transparent;
}

.f-links a:hover {
  color: #b6b6b6;
  border-color: #b6b6b6;
}

.f-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.comp-add {
  border-top: 1px solid #616161;
}

.f-contact {
  /* padding-top: 1em; */
  /* font-weight: bold; */
  /* color      : white; */
  font-size: .9rem;
}

.ph-num {
  display: inline-block;
  direction: ltr;
}

.social-links {
  margin-top: 3em;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social-icon {
  padding: 0 1em;
}

.social-icon svg {
  fill: #616161;
}

.agency-btn {
  border: 1px solid #616161;
  padding: 1em 3em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.agency-btn .agency-arrow {
  position: absolute;
  right: 1em;
  font-size: 1.3em;
  opacity: 0;
  -webkit-transition: opacity .3s, right .3s;
  transition: opacity .3s, right .3s;
}

.f-ad-container {
  padding-top: 3em;
}

.comp-add {
  border-top: 1px solid #616161;
}

.f-contact {
  font-size: .9rem;
}

.ph-num {
  display: inline-block;
  direction: ltr;
}

.agency-btn:hover {
  color: #b6b6b6;
  border-color: #b6b6b6;
}

.agency-btn:hover .agency-arrow {
  right: 10px;
  opacity: 1;
}

.copy-right {
  font-family: sans-serif;
  padding-top: 4em;
  font-size: 0.8rem;
}

.footer-title {
  border-bottom: 2px solid #918f8f;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

@media (max-width: 575.98px) {
  .f-links a {
    padding: 1em 1em;
    border-bottom: 2px solid transparent;
  }
  .social-icon svg {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .social-icon {
    padding: 0 .5em;
  }
  .f-agency {
    margin-top: 2em;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  footer {
    padding: 8em 2em 1em;
  }
  .follow-us-txt {
    display: none;
  }
  .social-links {
    text-align: center;
  }
}
/*# sourceMappingURL=footer.css.map */