body {
  background: #d8d8d8;
  background-color: #fff;
}

.first-frame {
  position: relative;
  width: 100%;
  z-index: -1;
}

.header-img {
  position: absolute;
  z-index: -1;
}

.mount {
  top: 0;
}

.lake {
  top: 79%;
}

.main-txt {
  position: absolute;
  top: 110%;
  background: #d3f3fc;
  background: #d8d8d8;
  width: 100%;
  height: 50vh;
}

.header-img.circle {
  top: 110%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.container {
  position: absolute;
  top: 200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.scrolled {
  top: 120px;
  z-index: 11;
  width: 100%;
  height: 30vh;
  background: #656862;
  background: #d8d8d8;
}

.matn {
  line-height: 2;
}

/* glass styles */
.glass {
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.glass video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.glass h2 {
  font-size: 3rem;
}

footer {
  padding: 8em 5em 1em;
  position: relative;
  overflow: hidden;
  background-color: #e7e7e7;
  background-color: #02182b;
  background-color: #000;
  color: #d3f3fc;
  color: #616161;
  z-index: 101;
  overflow: hidden;
  z-index: 9;
}

footer.home-footer {
  margin-top: -5em;
}

/* footer::before{
    border: 0;
    transform    : skewY(-3deg) translateY(-50%) translateY(1px);
    content                 : "";
    display                 : block;
    position                : absolute;
    left                    : 0;
    top                     : 0;
    -webkit-transform-origin: center;
    transform-origin        : center;
    background              : #fff;
    width                   : 100%;
    height                  : 5.492vw;
} */
.reg-footer {
  margin-top: 5em;
}

#comp-ico {
  fill: rgba(105, 105, 105, 0.075);
  /* position: absolute; */
  top: 25%;
  -webkit-transform: scale(2.1) translateX(-22%);
          transform: scale(2.1) translateX(-22%);
  z-index: -1;
}

footer a {
  color: #616161;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.f-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comp-add {
  border-top: 1px solid #616161;
}

.f-contact {
  /* padding-top: 1em; */
  /* font-weight: bold; */
  /* color: white; */
  font-size: .9rem;
}

.ph-num {
  display: inline-block;
  direction: ltr;
}

.social-links {
  margin-top: 3em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-icon {
  padding: 0 1em;
}

.social-icon svg {
  fill: #616161;
}

.agency-btn {
  border: 1px solid #616161;
  padding: 1em 3em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.agency-btn .agency-arrow {
  position: absolute;
  right: 1em;
  font-size: 1.3em;
  opacity: 0;
}

.agency-arrow {
  -webkit-transition: opacity .3s,  right .3s;
  transition: opacity .3s,  right .3s;
}

.agency-btn:hover {
  color: #b6b6b6;
  border-color: #b6b6b6;
}

.agency-btn:hover .agency-arrow {
  right: 10px;
  opacity: 1;
}

.f-links {
  color: white;
  margin: 2em 0 2.5em;
}

.f-links a {
  padding: 1em 2em;
  border-bottom: 2px solid transparent;
}

.f-links a:hover {
  color: #b6b6b6;
  border-color: #b6b6b6;
}

/* footer {
    padding   : 5em 5em;
    background: #022635;
    z-index   : 101;
    position  : relative;
    color     : rgb(145, 143, 143);
    direction : rtl;

} */
.footer-head {
  font-size: 2.5em;
}

.blue {
  color: #1688dc;
}

.copy-right {
  font-family: sans-serif;
  font-size: .8rem;
  padding-top: 4em;
}

.footer-title {
  border-bottom: 2px solid #918f8f;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.scroll-pointer {
  position: fixed;
  bottom: 1em;
  height: 2.5em;
  width: 1.4em;
  border-radius: 0.7em;
  border: 1px solid #000;
  z-index: 15;
}

.scroll-pointer--dot {
  width: 3px;
  height: 11px;
  border-radius: 15%;
  background: #000;
  margin: auto;
  margin-top: .5em;
}

@media only screen and (max-width: 500px) {
  .first-frame {
    height: 110vh;
  }
  .mount {
    top: 0;
    height: 85vh;
  }
  .lake {
    top: 40%;
  }
  .main-txt {
    position: absolute;
    top: 80%;
    background: #d3f3fc;
    width: 100%;
    height: 50vh;
  }
}
/*# sourceMappingURL=home.css.map */