nav {
  position: fixed;
  height: 100vh;
  width: 10%;
  /* background: rgba(0, 0, 0, .3); */
  background: #081e31a2;
  background: #031f2b;
  top: 0;
  right: 0;
  z-index: 100;
  color: white;
  text-align: center;
  font-size: .9rem;
}

.menue-head {
  border-bottom: 1px solid #1e3741;
  direction: rtl;
}

.logo {
  padding: 1em 0;
}

.logo > span {
  display: block;
  text-transform: uppercase;
}

.logo--comp {
  -webkit-transform: scaleY(3);
          transform: scaleY(3);
  line-height: 4;
}

.copy-r {
  vertical-align: super;
  font-size: .6rem;
  margin-left: -4px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.logo--category {
  margin-top: -15px;
}

.menue-body li a {
  display: block;
  color: #738085;
  padding: .9em .2em;
  text-decoration: none;
}

.menue-body > li + li {
  border-top: 1px solid #1e3741;
}

.menue-body li:last-child {
  border-bottom: 1px solid #1e3741;
}

.menue-body li a:hover {
  background: #1688dc;
  color: #fff;
  cursor: pointer;
}

.main-container {
  height: 100vh;
  overflow-y: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  /* position: relative; */
}

.down-arrow {
  position: fixed;
  bottom: 1em;
  /* background: rgba(255, 255, 255, .7); */
  color: #000;
  font-size: 2rem;
  /* padding: .6em; */
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes example {
  from {
    bottom: .8em;
  }
  to {
    bottom: .3em;
  }
}

/* Standard syntax */
@keyframes example {
  from {
    bottom: 1em;
    color: #292929;
  }
  to {
    bottom: .5em;
    color: #000;
  }
}

.frame {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  text-align: center;
  color: #fff;
  scroll-snap-align: start;
}

.frame1, .frame2, .frame4 {
  z-index: 11;
}

.frame1 {
  background-image: url(../images/sky-690293_1920.jpg);
  background-image: url(../images/lightning-3652193_1920.jpg);
  background-image: url(../images/mountains-1150064_1280.jpg);
  /* background-color: rgb(15, 17, 19); */
}

.frame1::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  -webkit-animation: thunder-bg 6s infinite;
  animation: thunder-bg 6s infinite;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#canvas3 {
  z-index: 5;
}

#canvas2 {
  z-index: 10;
}

#canvas1 {
  z-index: 11;
}

@-webkit-keyframes thunder-bg {
  0% {
    background-color: rgba(34, 34, 34, 0.9);
  }
  9% {
    background-color: rgba(34, 34, 34, 0.9);
  }
  10% {
    background-color: rgba(59, 59, 59, 0.3);
  }
  10.5% {
    background-color: rgba(34, 34, 34, 0.9);
  }
  80% {
    background-color: rgba(34, 34, 34, 0.9);
  }
  82% {
    background-color: rgba(59, 59, 59, 0.3);
  }
  83% {
    background-color: rgba(34, 34, 34, 0.9);
  }
  83.5% {
    background-color: rgba(59, 59, 59, 0.3);
  }
  100% {
    background-color: rgba(34, 34, 34, 0.9);
  }
}

.frame2 {
  background-image: url(../images/mountains-1150064_1280.jpg);
}

.frame3 {
  /* background-image: url(../images/forest-4068618_1280.jpg); */
  background-color: #062735;
  overflow: hidden;
}

.drop-img {
  position: fixed;
  width: initial;
  /* height: 100%; */
  height: 400px;
  z-index: 9;
  top: 61%;
  -webkit-transform: translate(-50%, -61%);
          transform: translate(-50%, -61%);
}

.hand-img {
  width: 50%;
  left: 51%;
  top: 76%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  z-index: 8;
}

.frame4 {
  background: #20244d;
  background: #031f2b;
  background-image: url(../images/rain-354617_1920.jpg);
  /* position: relative; */
  /* background-color: rgb(226, 226, 226); */
}

.frame4::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #031f2bcb;
  z-index: 1;
}

.bottle {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 110px;
  height: 320px;
  border: 1px solid transparent;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  /* overflow               : hidden; */
  background-image: url("../images/wave.png");
  background-repeat: repeat-x;
  background-position: 440px -80px;
  -webkit-box-shadow: 0 15px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 20px -20px 20px rgba(255, 255, 255, 0.5), inset -10px -20px 20px rgba(255, 255, 255, 0.5);
          box-shadow: inset 20px -20px 20px rgba(255, 255, 255, 0.5), inset -10px -20px 20px rgba(255, 255, 255, 0.5);
}

.bottle_animate {
  -webkit-animation: water 6s linear normal;
          animation: water 6s linear normal;
}

.top-l {
  position: absolute;
  top: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 54px;
  height: 3px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #7a8bbd;
  background: rgba(122, 139, 189, 0.63);
}

.head {
  position: absolute;
  top: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 10px;
  border-radius: 2px;
  border: 1px solid royalblue;
  background-color: royalblue;
}

.tail {
  position: absolute;
  top: -300px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 20px;
  border: 1px solid royalblue;
  background: royalblue;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  opacity: 0;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
  -webkit-transition-delay: 6s;
          transition-delay: 6s;
  z-index: 10;
}

.tail_animate {
  top: -30px;
  opacity: 1;
}

.under_tail {
  position: absolute;
  width: 48px;
  height: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #7a8bbd;
  background: rgba(122, 139, 189, 0.63);
  z-index: 9;
}

.under_tail_1 {
  top: -16px;
}

.under_tail_2 {
  top: -20px;
}

.under_tail_3 {
  top: -24px;
}

.under_tail_4 {
  width: 48px;
  top: -28px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.bottle-img {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 110px;
}

@-webkit-keyframes water {
  /* 0%{
        background-position: 0px 400px;
    }
    20%{
        background-position: 0px 320px;
    }
    40%{
        background-position: -120px 240px;
    }
    60%{
        background-position: -180px 160px;
    }
    80%{
        background-position: -240px 80px;
    }
    100%{
        background-position: -300px -20px;
    }
    0%{
        background-position: -180px -20px;
    } */
  /* from {
        background-position: -300px 400px;
    }

    to {
        background-position: -300px -20px;
    } */
  /* 50% {background-position: 3000px 0px;}
    100% {background-position: 6000px 350px;} */
  from {
    background-position: 60px 300px;
  }
  to {
    background-position: 440px -80px;
  }
}

@keyframes water {
  /* 0%{
        background-position: 0px 400px;
    }
    20%{
        background-position: 0px 320px;
    }
    40%{
        background-position: -120px 240px;
    }
    60%{
        background-position: -180px 160px;
    }
    80%{
        background-position: -240px 80px;
    }
    100%{
        background-position: -300px -20px;
    }
    0%{
        background-position: -180px -20px;
    } */
  /* from {
        background-position: -300px 400px;
    }

    to {
        background-position: -300px -20px;
    } */
  /* 50% {background-position: 3000px 0px;}
    100% {background-position: 6000px 350px;} */
  from {
    background-position: 60px 300px;
  }
  to {
    background-position: 440px -80px;
  }
}

.frame-txt {
  text-shadow: 0px 0px 10px #13384b;
}

.frame-txt-head {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.frame-txt-text {
  font-size: 1rem;
}

.progress-fill {
  position: fixed;
  height: 100vh;
  width: 8em;
  /* background: rgba(0, 0, 0, .3); */
  background: #031f2b;
  top: 0;
  right: 8em;
  z-index: 100;
  opacity: 0.57;
  padding-top: 2em;
}

.progress-fill-element {
  border-bottom: 1px solid #52636a;
  border-top: 1px solid #52636a;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 10;
  height: 3em;
  width: 3em;
  margin: 0 auto;
  /* background-color: #13384b; */
}

.seperator {
  position: relative;
  top: 0;
  width: 1px;
  height: 4em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #52636a;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.seperator.active::after {
  content: '';
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #4d872c;
  width: 5px;
  opacity: 1;
}

.progress-fill-element em {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: url(../images/water-nav.png);
}

.cloud-fill {
  border-top: 1px solid transparent;
}

.cloud-fill em {
  width: 24px;
  height: 12px;
  background-position: 1px -11px;
}

.cloud-fill-pic em {
  width: 23px;
  height: 11px;
  background-position: 0px 0px;
}

.water-fill em {
  width: 23px;
  height: 17px;
  background-position: 0px -41px;
}

.water-fill-pic em {
  width: 23px;
  height: 17px;
  background-position: 0px -24px;
}

.bottle-fill {
  border-bottom: 1px solid transparent;
}

.bottle-fill em {
  width: 12px;
  height: 26px;
  background-position: 0px 26px;
}

.bottle-fill-pic em {
  width: 12px;
  height: 25px;
  background-position: 0px 51px;
}

.svg-icon {
  width: 2.5em;
  height: 2.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #5893A7;
}

.svg-icon circle {
  stroke: #5893A7;
  stroke-width: 1;
}

.social-networks {
  position: fixed;
  height: 100vh;
  width: 10%;
  background: #021f2c;
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  text-align: center;
}

.social-networks a {
  color: #5893A7;
  text-decoration: none;
  display: block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.social-networks a:hover, .social-icon:hover + a {
  color: #fff;
}

.social-icon {
  padding: 1em;
}

.about-us {
  width: 80%;
  margin: 0 auto;
  color: #cecece;
  line-height: 1.8;
  overflow-y: hidden;
  min-height: 100vh;
}

.about--description {
  position: relative;
  width: 100%;
  height: 100vh;
}

.about--description-img {
  height: 100%;
  width: 100%;
  opacity: .1;
  position: absolute;
  top: 0;
  left: 0;
}

.about--description-header {
  font-size: 3rem;
  font-weight: 400;
}

.header {
  color: #1688dc;
  position: relative;
  margin: 2em 0 1em;
}

.header::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15%;
  border-bottom: 1px solid #2f4e5c;
}

.header::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15%;
  border-bottom: 1px solid #2f4e5c;
}

.about--description {
  padding-top: .5em;
  /* height: 100vh;
    width: 100%; */
}

.about--description p {
  text-shadow: 0px 0px 0px #000;
}

.about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6em 0;
}

.about-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about-col--head {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-right: 2em;
  position: relative;
}

.about-col--head::after {
  content: '';
  position: absolute;
  top: 100%;
  right: 2em;
  width: 1em;
  border-bottom: 6px solid #1688dc;
}

.about-col--txt {
  padding-left: 4em;
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .main-container {
    /* display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: initial; */
    height: 100vh;
    overflow-y: auto;
  }
  nav {
    position: initial;
    height: initial;
    width: 100%;
    scroll-snap-align: start;
    z-index: 103;
  }
  .social-networks {
    position: relative;
    height: initial;
    width: 100%;
    scroll-snap-align: start;
    z-index: 101;
  }
  .social-networks ul {
    height: initial;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .progress-fill {
    height: 91vh;
    position: fixed;
    bottom: 0;
    right: unset;
    left: 0;
    top: unset;
  }
  .about-us {
    width: 100%;
  }
  .about--description-body {
    width: 90%;
  }
  .about-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .about-col--head {
    padding-right: 0;
    text-align: center;
  }
  .about-col--head::after {
    right: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .about-col--txt {
    padding: 1em 1.5em;
  }
  .progress-fill {
    width: 4em;
  }
  .frame {
    height: calc(100vh);
  }
}
/*# sourceMappingURL=index.css.map */