.preload{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    background: #fff;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}
.preload-txt{
    font-family: 'Nosifer',
cursive;
/* text-transform: uppercase; */
font-size: 80px;
opacity: 0.08;
    transform: translate(-50%,-150%);
}

@keyframes ldio-4f3cl6azi3a-1{
    0% {
        top   : 36px;
        height: 128px
    }

    50% {
        top   : 60px;
        height: 80px
    }

    100% {
        top   : 60px;
        height: 80px
    }
}

@keyframes ldio-4f3cl6azi3a-2 {
    0% {
        top   : 41.99999999999999px;
        height: 116.00000000000001px
    }

    50% {
        top   : 60px;
        height: 80px
    }

    100% {
        top   : 60px;
        height: 80px
    }
}

@keyframes ldio-4f3cl6azi3a-3 {
    0% {
        top   : 48px;
        height: 104px
    }

    50% {
        top   : 60px;
        height: 80px
    }

    100% {
        top   : 60px;
        height: 80px
    }
}

.ldio-4f3cl6azi3a div {
    position: absolute;
    width   : 30px
}

.ldio-4f3cl6azi3a div:nth-child(1) {
    left           : 35px;
    background     : #09435c;
    animation      : ldio-4f3cl6azi3a-1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.2s
}

.ldio-4f3cl6azi3a div:nth-child(2) {
    left           : 85px;
    background     : #0677a8;
    animation      : ldio-4f3cl6azi3a-2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.1s
}

.ldio-4f3cl6azi3a div:nth-child(3) {
    left           : 135px;
    background     : #79c0de;
    animation      : ldio-4f3cl6azi3a-3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: undefineds
}

.loadingio-spinner-pulse-72467jt1bm {
    width     : 200px;
    height    : 200px;
    display   : inline-block;
    overflow  : hidden;
    background: #ffffff;
    background-color: transparent;
/* background-color: red; */

}

.ldio-4f3cl6azi3a {
    width              : 100%;
    height             : 100%;
    position           : relative;
    transform          : translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin   : 0 0;
    /* see note above */
}

.ldio-4f3cl6azi3a div {
    box-sizing: content-box;
}




nav {
    position     : absolute;
    /* height       : 100vh;
    width        : 10%;
    background   : #081e31a2;
    background   : #031f2b; */
    top          : 0;
    right        : 0;
    width: 100%;
    z-index      : 102;
    color        : white;
    /* text-align   : center; */
    /* font-size    : .9rem; */
    padding: 1.7em 4em;
}

.menue-head {
    /* border-bottom: 1px solid #1e3741; */
    /* direction    : rtl; */

}

.logo {
    padding: 1em 0;
}

.logo>span {
    display       : block;
    text-transform: uppercase;
    font-size: 2rem;
    color: #00a7ff;
}

.logo--comp {
    transform  : scaleY(3);
    line-height: 4;
    pointer-events: none;
}

.copy-r {
    vertical-align: super;
    font-size     : .6rem;
    margin-left   : -4px;
    transform     : scaleX(1);

}

.logo--category {
    margin-top: -15px;
}
.menue-body{
    margin-left: auto;
    
}
.menue-body li{
    padding-left: 1em;
}
.menue-body li a {

    color          : #738085;
    text-decoration: none;
}

/* .menue-body>li+li {
    border-top: 1px solid #1e3741;
} */

/* .menue-body li:last-child {
    border-bottom: 1px solid #1e3741;
} */

.menue-body li a:hover {
    cursor    : pointer;
}

/* .main-container {
    height          : 100vh;
    overflow-y      : auto;
    scroll-snap-type: y mandatory;
    position     : relative;

} */

.down-arrow {
    position                 : fixed;
    bottom                   : 1em;
    /* background            : rgba(255, 255, 255, .7); */
    color                    : #000;
    font-size                : 2rem;
    /* padding               : .6em; */
    left                     : 50%;
    transform                : translateX(-50%);
    animation-name           : example;
    animation-duration       : 1.8s;
    animation-delay          : 3s;
    animation-iteration-count: infinite;

}

@-webkit-keyframes example {
    from {
        bottom: .8em;
    }

    to {
        bottom: .3em
    }
}

/* Standard syntax */
@keyframes example {
    from {
        bottom: 1em;
        color : rgb(41, 41, 41);
    }

    to {
        bottom: .5em;
        color : #000;
    }
}

.frame {
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
    height             : 100vh;
    position           : relative;
    text-align         : center;
    color              : #fff;
    scroll-snap-align  : start;
}

.frame1,
.frame2,
.frame3,.frame4 {
    z-index: 11;
}

.frame1 {
    background-image   : url(../images/mountains-4292912_1920.jpg);
    z-index: 15;
}

.frame1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 31, 43, 0.877);
}
.left-col{
    position: absolute;
    top: 0;
    left: 4em;
    background-color: #416374;
    width: 6em;
    height: 100vh;
}
.btl-img{
    /* position: absolute;
    top: 0;
    left: 50%; */
    bottom: -4%;
    width: 42%;
    z-index: 11;
    left: 50%;
    transform       :translateX(-50%);
}

.main-header{
    position: absolute;
    bottom: 60%;
    right: 15%;
    z-index: 12;
    color: rgb(192, 189, 189);
    
}
.main-header--txt{
    position: relative;
    text-align: right;
}
.main-header--txt::after{
    z-index: -1;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 56%;
    height: .4em;
    background-color: rgba(6, 158, 223, 0.671);
}
.main-header--txt span{
    display: block;
}
.unemphasize{
    font-size: 0.8rem;
}
.emphasize{
    font-size: 5rem;
}
.frame2 {
    background: rgb(29, 96, 126);
background: radial-gradient(circle, rgba(29, 96, 126, 1) 0%, rgba(1, 23, 32, 1) 100%);
}

.drop-img {
    position : fixed;
    width    : initial;
    /* height: 100%; */
    height   : 400px;
    z-index  : 9;
    top      : 61%;
    transform: translate(-50%, -61%);
    

}

.hand-img {
    width    : 50%;
    left     : 51%;
    top      : 76%;
    transform: translate(-50%, -60%);
    z-index  : 8;

}

.frame3 {
    background         : rgb(32, 36, 77);
    background         : #031f2b;
    background-image   : url(../images/rain-354617_1920.jpg);
    
    /* position        : relative; */
    /* background-color: rgb(226, 226, 226); */
}

.frame3::after {
    content   : '';
    width     : 100%;
    height    : 100%;
    display   : block;
    position  : absolute;
    top       : 0;
    left      : 0;
    background: #031f2bcb;
    z-index   : 1;
}

.frame4{
    
}
#myVideo{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.glass{
    width: 250px;
    height: 250px;
    border: 5px solid #C9D1D4;
    border-top: none;
    border-radius: 5px 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background-color: transparent;
    box-shadow: inset 14px 0px 20px #C9D1D4,
inset -10px 0px 20px #C9D1D4;
    z-index: 10000;
    overflow: hidden;

    
}

.rex{
    position: absolute;
    top: 45px;
    right: 89px;
    height: 150px;
    width: 20px;
    border-top-right-radius: 2em;
    border-top-left-radius: 4em;
    border-bottom-left-radius: 2em;
    background-image: linear-gradient(rgba(241, 237, 237, 0.548),white);
}
.left_ball{
    position: absolute;
}

.left_ball--r{
    width: 20px;
    height: 100px;
    right:1px;
    bottom: 5px;
    background-color: transparent;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 70%;
    z-index: inherit;
    transform: rotateX(310deg);
}
.right_tri{
   width        : 0;
   height       : 0;
   border-bottom: 140px solid rgb(172, 172, 172);
   border-right : 21px solid transparent;
   position: absolute;
   left   : -10;
   top     : -1px;
}
.left_ball--l{
    width: 20px;
    height: 100px;
    left:4px;
    bottom: 0px;
    background-color: transparent;
    border-top-right-radius: 70%;
    border-bottom-left-radius: 100%;
    z-index: inherit;
    transform: rotateX(310deg);
}
.left_tri{
    width        : 0;
    height       : 0;
    border-bottom: 120px solid rgb(172, 172, 172);
    border-left  : 15px solid transparent;
    position: absolute;
    right: 0;
    top: -1px;
    }
.under_glass{
    position: absolute;
    bottom: 0;
    width: 130px;
    height: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: inset 20px 2px 4px white,
inset -3px -2px 3px white;
}

.glass_tail{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 180px;
    height: 60px;
    border-radius: 50%;
    border: 20px solid transparent;
    background: transparent;
    box-shadow: inset 15px -2px 6px  #C9D1D4,
    inset -15px 2px 6px  #C9D1D4,
     inset -5px -5px 5px 5px  #C9D1D4;

}
.glass_tail--inner{
    position: absolute;
    width: 120px;
    height: 10px;
    background: rgba(240, 240, 240, 0.301);
    border-radius: 50%;
    bottom: 3px;
}
.glass_tail1{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    width: 230px;
    height: 80px;
    border-radius: 50%;
    border: 20px solid transparent;
    background: transparent;
    box-shadow: inset 6px 1px 5px  rgb(181, 183, 184),
    inset -1px 5px 9px  #C9D1D4;
    
}
.up_tail{
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 260px;
    height: 100px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border: 20px solid transparent;
    background: transparent;
    
    box-shadow: inset 5px -2px 6px rgba(255, 255, 255, 0.3),
    inset -5px -2px 6px rgba(255, 255, 255, 0.3),
    inset 0 10px 6px transparent;

}
.glass_dastgire{
    display: none;
    width: 60px;
    height: 150px;
    border: 5px solid black;
    position: absolute;
    right: -60px;
    top: 50px;
    border-radius: 0 20px 80px 10px;
    
}
.glass_door{
    position: absolute;
    left: -5px;
    top: -20px;
    width: 249px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(234, 239, 240, 0.555);
    background: #C9D1D4;
    box-shadow: inset 15px -20px 20px rgba(255, 255, 255, 0.5),
inset -15px -20px 20px rgba(255, 255, 255, 0.5);
}

.glass-img{
    width: 300px;
    fill: red;
}
.bottle {
    z-index                   : 100;
    position                  : absolute;
    top                       : 50%;
    left                      : 50%;
    transform                 : translate(-50%, -50%);
    width                     : 110px;
    height                    : 320px;
    border                    : 1px solid transparent;
    border-bottom-left-radius : 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius    : 70px;
    border-top-right-radius   : 70px;
    /* overflow               : hidden; */
    background-image          : url("../images/wave.png");
    background-repeat         : repeat-x;
    background-position       : 440px -80px;
    box-shadow                : 0 15px 10px 5px rgba(0, 0, 0, 0.2);
    box-shadow                : inset 20px -20px 20px rgba(255, 255, 255, 0.5),
        inset -10px -20px 20px rgba(255, 255, 255, 0.5);
}

.bottle_animate {
    animation: water 6s linear normal;
}

.top-l {
    position               : absolute;
    top                    : 2px;
    left                   : 50%;
    transform              : translateX(-50%);
    width                  : 54px;
    height                 : 3px;
    border-top-right-radius: 5px;
    border-top-left-radius : 5px;
    border                 : 1px solid rgb(122, 139, 189);
    background             : rgba(122, 139, 189, 0.63);

}

.head {
    position        : absolute;
    top             : -8px;
    left            : 50%;
    transform       : translateX(-50%);
    width           : 50px;
    height          : 10px;
    border-radius   : 2px;
    border          : 1px solid royalblue;
    background-color: royalblue;

}

.tail {
    position               : absolute;
    top                    : -300px;
    left                   : 50%;
    transform              : translateX(-50%);
    width                  : 50px;
    height                 : 20px;
    border                 : 1px solid royalblue;
    background             : royalblue;
    border-top-right-radius: 5px;
    border-top-left-radius : 5px;
    opacity                : 0;
    transition             : all 1.2s ease-in-out;
    transition-delay       : 6s;
    z-index                : 10;
}

.tail_animate {
    top    : -30px;
    opacity: 1;
}

.under_tail {
    position               : absolute;
    width                  : 48px;
    height                 : 3px;
    left                   : 50%;
    transform              : translateX(-50%);
    border-top-right-radius: 5px;
    border-top-left-radius : 5px;
    border                 : 1px solid rgb(122, 139, 189);
    background             : rgba(122, 139, 189, 0.63);
    z-index                : 9;
}

.under_tail_1 {
    top: -16px;
}

.under_tail_2 {
    top: -20px;
}

.under_tail_3 {
    top: -24px;
}

.under_tail_4 {
    width                  : 48px;
    top                    : -28px;
    border-top-right-radius: 5px;
    border-top-left-radius : 5px;
}

.bottle-img {
    position : absolute;
    top      : 40%;
    left     : 50%;
    transform: translateX(-50%);
    width    : 110px;

}
.bg-bottle-img{
    width: 60px;
    height: 100vh;
    width: 60%;
}

@keyframes water {

    /* 0%{
        background-position: 0px 400px;
    }
    20%{
        background-position: 0px 320px;
    }
    40%{
        background-position: -120px 240px;
    }
    60%{
        background-position: -180px 160px;
    }
    80%{
        background-position: -240px 80px;
    }
    100%{
        background-position: -300px -20px;
    }
    0%{
        background-position: -180px -20px;
    } */
    /* from {
        background-position: -300px 400px;
    }

    to {
        background-position: -300px -20px;
    } */
    /* 50% {background-position: 3000px 0px;}
    100% {background-position  : 6000px 350px;} */
    from {
        background-position: 60px 300px;
    }

    to {
        background-position: 440px -80px;
    }
}

.frame-txt {
    text-shadow: 0px 0px 10px #13384b;
}

.frame-txt-head {
    font-size    : 2.3rem;
    margin-bottom: 0;
}

.frame-txt-text {
    font-size: 1rem;
}

.progress-fill {
    position     : fixed;
    height       : 100vh;
    width        : 8em;
    /* background: rgba(0, 0, 0, .3); */
    background   : #031f2b;
    top          : 0;
    right        : 8em;
    z-index      : 100;
    opacity      : 0;
    padding-top  : 2em;
    
}

.progress-fill-element {
    border-bottom      : 1px solid #52636a;
    border-top         : 1px solid #52636a;
    text-align         : center;
    color              : #fff;
    position           : relative;
    z-index            : 10;
    height             : 3em;
    width              : 3em;
    margin             : 0 auto;
    /* background-color: #13384b; */
}

.seperator {
    position        : relative;
    top             : 0;
    width           : 1px;
    height          : 4em;
    left            : 50%;
    transform       : translateX(-50%);
    background-color: #52636a;
    transition      : all 2s ease-in-out;

}

.seperator.active::after {
    content   : '';
    position  : absolute;
    top       : 2px;
    bottom    : 2px;
    left      : 50%;
    transform : translateX(-50%);
    background: #4d872c;
    width     : 5px;
    opacity   : 1;


}

.progress-fill-element em {
    transition: all .3s ease-in-out;
    background: url(../images/water-nav.png);
}

.cloud-fill {
    border-top: 1px solid transparent;
}

.cloud-fill em {
    width              : 24px;
    height             : 12px;
    background-position: 1px -11px;

}

.cloud-fill-pic em {
    width              : 23px;
    height             : 11px;
    background-position: 0px 0px;
}

.water-fill em {
    width              : 23px;
    height             : 17px;
    background-position: 0px -41px;

}

.water-fill-pic em {
    width              : 23px;
    height             : 17px;
    background-position: 0px -24px;
}

.bottle-fill {
    border-bottom: 1px solid transparent;

}

.bottle-fill em {
    width              : 12px;
    height             : 26px;
    background-position: 0px 26px;
}

.bottle-fill-pic em {
    width              : 12px;
    height             : 25px;
    background-position: 0px 51px;
}

.svg-icon {
    width : 2.5em;
    height: 2.5em;
}


.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #5893A7;
}

.svg-icon circle {
    stroke      : #5893A7;
    stroke-width: 1;
}

.social-networks {
    display: none;
    position  : fixed;
    height    : 100vh;
    width     : 10%;
    background: #021f2c;
    top       : 0;
    left      : 0;
    z-index   : 102;
    color     : #fff;
    text-align: center;

}

.social-networks a {
    color          : #5893A7;
    text-decoration: none;
    display        : block;
    transition     : all .3s ease-in-out;
}

.social-networks a:hover,
.social-icon:hover+a {
    color: #fff;
}

.social-icon {
    padding: 1em;
}

.about {}

.about-us {
    width      : 80%;
    margin     : 0 auto;
    color      : #cecece;
    line-height: 1.8;
    overflow-y : hidden;
    min-height : 100vh;

}

.about--description {
    position: relative;
    width   : 100%;
    height  : 100vh;
}

.about--description-img {
    height  : 100%;
    width   : 100%;
    opacity : .1;
    position: absolute;
    top     : 0;
    left    : 0;
}

.about--description-header {
    font-size  : 3rem;
    font-weight: 400;
}

.header {
    color   : #1688dc;
    position: relative;
    margin  : 2em 0 1em;
}

.header::after {
    content      : '';
    position     : absolute;
    top          : 50%;
    right        : 20%;
    transform    : translateY(-50%);
    width        : 15%;
    border-bottom: 1px solid #2f4e5c;

}

.header::before {
    content      : '';
    position     : absolute;
    top          : 50%;
    left         : 20%;
    transform    : translateY(-50%);
    width        : 15%;
    border-bottom: 1px solid #2f4e5c;

}

.about--description {
    padding-top: .5em;
    /* height  : 100vh;
    width      : 100%; */

}

.about--description p {
    text-shadow: 0px 0px 0px #000;
}

.about-row {
    display: flex;
    padding: 6em 0;
}

.about-col {
    flex-basis: 50%;
}

.about-col--head {
    font-size    : 3rem;
    font-weight  : 400;
    margin       : 0;
    padding      : 0;
    padding-right: 2em;
    position     : relative;
}

.about-col--head::after {
    content      : '';
    position     : absolute;
    top          : 100%;
    right        : 2em;
    width        : 1em;
    border-bottom: 6px solid #1688dc;

}

.about-col--txt {
    padding-left: 4em;
    font-size   : 1rem;
}


@media (max-width: 575.98px){
    .main-container {
        
    }

    nav {
        padding          : 0;
        position         : initial;
        height           : initial;
        width            : 100%;
        scroll-snap-align: start;
        z-index          : 103;
        background: #022635;
    }
    .frame1{
        margin-top: -4em;
    }
    .main-header{
        position: absolute;
        top: 50%;
        left: 50%;
        bottom: initial;
        right: initial;
        transform: translate(-50%,-50%);
        width: 100%;
    }
    .main-header--txt::after{
        display: none;
    }
    .drop-img{
        width: 50%;
        height: initial;
        top: 51%;
    }
    .hand-img{
        width: 100%;
    }
    #myVideo{
        object-fit: fill;
    }
    .social-networks {
        position         : relative;
        height           : initial;
        width            : 100%;
        scroll-snap-align: start;
        z-index          : 101;
    }

    .social-networks ul {
        height        : initial;
        flex-direction: row !important;
    }

    .progress-fill {
        height  : 91vh;
        position: fixed;
        bottom  : 0;
        right   : unset;
        left    : 0;
        top     : unset;
    }

    .about-us {
        width: 100%;
    }

    .about--description-body {
        width: 90%;
    }

    .about-row {
        flex-wrap: wrap;
    }

    .about-col {
        flex-basis: 100%;
    }

    .about-col--head {
        padding-right: 0;
        text-align   : center;
    }

    .about-col--head::after {
        right    : 50%;
        transform: translateX(-50%);
    }

    .about-col--txt {
        padding: 1em 1.5em;

    }

    .progress-fill {
        width: 4em;
    }

    .frame {
        height: calc(100vh);
    }
}

@media (min-width: 576px) and (max-width: 767.98px){

}

@media (min-width: 768px) and (max-width: 991.98px){

}