.login-box {
  width: 30%;
  margin: auto;
  margin-bottom: 4em;
  height: 100vh;
  /* height: 100vh; */
}

.login-box h2 {
  margin: 0;
  padding-top: 8em;
  padding-bottom: 2em;
}

.login-input {
  width: 100%;
  padding: 1em .6em;
  font-size: 1rem;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #b9b9b9;
  margin-bottom: 1em;
  color: #000;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-family: "shabnam", serif;
  font-size: 0.9rem;
}

.login-input.invalid {
  margin-bottom: 0.1em;
}

.login-input:focus {
  outline: none;
  border: 2px solid #000;
}

.login-btn {
  width: 100%;
  padding: .8em .4em;
  background: #db66a7;
  color: #fff;
  border-radius: 5em;
  margin-top: 2em;
}

.login-input.invalid {
  border-color: #cf4040;
}

.validation-msg {
  font-size: .7rem;
  /* display: none; */
}

.form-group input, .form-group textarea, .form-group select {
  padding: .6em .4em;
  font-size: 1rem;
  background: transparent;
  border: 2px solid #168adc86;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-group select option {
  background: #062c3d;
}

.form-group input:focus, .form-group textarea:focus, .form-group select:focus {
  outline: none;
  border-color: #168adc;
}

.auto-complete {
  position: relative;
}

#autocomplet-results {
  position: absolute;
  top: 100%;
  right: 0;
}

.reg-container {
  padding: 2em;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.form-group label {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: block;
  width: 8em;
  font-size: .9rem;
  /* margin-top: -0.3em;  */
}

.form-group .input-control {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: block;
  margin-left: .4em;
  /* border-radius: 2em; */
}

.input-control[type='text'] {
  max-height: 2.43em;
}

.form-btn {
  background: #168adc;
  border-radius: 2em;
  border: 2px solid #168adc;
  padding: 0em 2em;
  color: #fff;
  font-size: .8rem;
}

.reset {
  background: #cf4040 !important;
  border-color: #cf4040 !important;
  margin-right: 0.5em !important;
  font-size: 0.9rem !important;
}

@media (max-width: 575.98px) {
  .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .form-group .input-control {
    margin-bottom: 1em;
    margin-left: 0;
  }
  .login-box {
    width: 80%;
  }
  .login-tab input {
    border-color: #b9b9b9;
    border-radius: 0.3em;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .login-box {
    width: 60%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .login-box {
    width: 40%;
  }
}
/*# sourceMappingURL=login.css.map */