body {
  width: 100%;
  overflow-x: hidden;
  /* position: relative; */
}

.main-img-back {
  width: 100%;
  height: 100%;
}

.main-title {
  position: absolute;
  right: 30%;
  top: 20%;
  color: lavender;
}

.main-title img {
  width: 45%;
}

.ozon-free {
  padding-right: 2em;
  color: #E9309F;
}

.main-title span {
  display: block;
}

.main-title--little {
  font-size: 1rem;
  margin-bottom: -1.7em;
}

.main-title--big {
  font-size: 9rem;
  color: #f05f88;
  font-weight: bold;
}

.first-frame {
  z-index: 9;
  height: 100vh;
}

.hero-mobile {
  display: none;
  width: 100%;
  height: 15vh;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15vh;
}

.aboutUs-sec {
  position: relative;
  width: 60%;
  margin: auto;
}

.link-page-btn {
  text-decoration: none;
  color: #f51998;
  padding: 1.5em 3em;
  background-color: transparent;
  display: inline-block;
  border-radius: 4em;
  margin-top: 2em;
  border: 2px solid #f51998;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.link-page-btn:hover {
  background: #f51998;
  color: white;
}

.link-page-btn.l-product {
  margin-top: 2em;
}

.rotate {
  position: absolute;
  width: 210%;
  height: 180%;
  display: block;
  background-color: white;
  background: rgba(255, 255, 255, 0.65);
  z-index: -1;
  /* display: none; */
}

.rotate_r {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  left: 0;
}

#rotate1 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#rotate4 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#rotate3 {
  background: white;
}

.rotate_l {
  -webkit-transform-origin: right top;
          transform-origin: right top;
  left: 0;
}

.about-txt {
  width: 100%;
  background: transparent;
  z-index: 12;
  padding-top: 8em;
}

.about-txt--head {
  font-size: 2.3rem;
  color: #f05f88;
  padding-bottom: 0.7em;
}

.about-txt--body {
  line-height: 2;
}

.read-more-btn {
  position: relative;
  padding: 2em 5em;
  border-radius: 8em;
  color: black;
  background: transparent;
  font-size: .8rem;
  white-space: nowrap;
  background-image: url(https://web.archive.org/web/20160312084140im_/http://splatoon.nintendo.com/assets/img/nav-bg-fill-blue.png?1443460871);
  background-repeat: repeat-x;
  background-position: 0 -100%;
  -webkit-transition: background-position 1s ease , color 0.3s ease, padding 0.3s ease;
  transition: background-position 1s ease , color 0.3s ease, padding 0.3s ease;
  /* filter: hue-rotate(320deg); */
  -webkit-filter: hue-rotate(80deg);
          filter: hue-rotate(80deg);
  border: 2px solid #284cff;
  margin-top: 1.3em;
}

.read-more-btn:hover {
  background-position: 500% 100%;
  color: white;
  padding-left: 6em;
  /* padding: 1em 3em; */
}

.rm-arrow {
  position: absolute;
  /* margin-top: -4em; */
  font-size: 1.4rem;
  opacity: 0;
}

.read-more-btn:hover .rm-arrow {
  opacity: 1;
  left: 1em;
}

#link-to-blog {
  margin-top: 1em;
  margin-bottom: 2em;
}

.product-section {
  z-index: 20;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin-bottom: 20%;
}

#home-page-prs, #blog-sec-head {
  margin-top: 2em;
}

.product-bottles {
  margin-top: 9em;
  margin-bottom: 5em;
  z-index: 100000;
}

.section-title {
  font-size: 3rem;
}

.section-title .sec-num {
  position: absolute;
  top: -100%;
  left: 0;
  width: 30%;
  border-bottom: 2px solid #b1b1b1;
  font-family: "Lato";
  color: #b1b1b1;
}

.section-title span.main-t::before {
  content: " ";
  position: absolute;
  top: -30%;
  left: 0;
  width: 30%;
  border-bottom: 2px solid #b1b1b1;
  font-family: "Lato";
  color: #b1b1b1;
}

/* #first-head span::before{
    top: -100%;
    content: "01";
}
#second-head span::before{
    top: -100%;
    content: "02";
}
#thirds-head span::before{
    top: -100%;
    content: "03";
}
#fourth-head span::before{
    top: -100%;
    content: "04";
}
#second-head{
    margin-top: 2em;
} */
#second-head {
  margin-top: 2em;
}

.row-wrapper {
  width: 50%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row--img, .row--txt {
  width: 50%;
}

.row--img {
  background-color: pink;
}

.row.odd .row--img {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.row--img img {
  width: 100%;
}

.row--txt {
  font-size: 1.5rem;
}

.row--txt span {
  padding-bottom: .5em;
}

.row span::before {
  content: " ";
  position: absolute;
  top: 100%;
  width: 50px;
  border-bottom: 1px solid #b1b1b1;
}

.row.odd span {
  margin-right: -5%;
}

.row.odd span::before {
  right: 0;
}

.row.even span::before {
  left: 0;
}

.row span::after {
  position: absolute;
  top: 100%;
  font-size: 0.7rem;
  padding-top: 0.5em;
  color: #b1b1b1;
}

.row.odd span::after {
  content: "\25B6";
  right: 0;
}

.row.even span::after {
  content: "\25C0";
  left: 0;
}

.goto-page {
  margin-top: 3em;
}

.goto-page a {
  text-decoration: none;
}

#about-readmore-link {
  text-align: right !important;
}

.readmore-link {
  position: relative;
  padding: 2em 5em;
  border-radius: 8em;
  color: black;
  background: transparent;
  font-size: .8rem;
  white-space: nowrap;
  background-image: url(https://web.archive.org/web/20160312084140im_/http://splatoon.nintendo.com/assets/img/nav-bg-fill-blue.png?1443460871);
  background-repeat: repeat-x;
  background-position: 0 -100%;
  -webkit-transition: background-position 1s ease , color 0.3s ease, padding 0.3s ease;
  transition: background-position 1s ease , color 0.3s ease, padding 0.3s ease;
  /* filter: hue-rotate(320deg); */
  -webkit-filter: hue-rotate(80deg);
          filter: hue-rotate(80deg);
  border: 2px solid #284cff;
}

.readmore-link:hover {
  background-position: 500% 100%;
  color: white;
  padding-left: 6em;
  /* padding         : 1em 3em; */
}

.readmore-link:hover .rm-arrow {
  opacity: 1;
  left: 1em;
}

.pr-link {
  display: inline-block;
  padding: 1em 2em;
  background: #e94d80;
  color: white;
  text-decoration: none;
  border-radius: 2em;
}

.weblog-link {
  padding: 1em 1em;
}

.pr-entry-row {
  margin-top: 1em;
  text-align: center;
}

.product-back {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  background-size: 100% 100%;
  overflow: hidden;
  background-attachment: fixed;
}

/* #half-liter-bottle{
    background-image: url(../images/IMG_0384.JPG);
    
}
#fantasy-bottle{
    background-image: url(../images/fantasy11.jpg);
   
}
#one-half-bottle{
    background-image: url(../images/1.5liter2.jpg);
}
#fantasy-plus-bottle{
    background-image: url(../images/fantasy-plus1o.jpg);
}
#little-bottle{
    background-image: url(../images/little.jpg);
} */
.product-back::before {
  content: " ";
  position: absolute;
  top: 0;
  right: -2%;
  width: 37%;
  height: 11%;
  background: #fff;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.product-back::after {
  content: " ";
  position: absolute;
  top: 0;
  left: -8%;
  width: 79%;
  height: 11%;
  background: #fff;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.product-back::before {
  content: " ";
  position: absolute;
  top: 0;
  right: -2%;
  width: 37%;
  height: 11%;
  background: #fff;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
}

.product-back::after {
  content: " ";
  position: absolute;
  top: 0;
  left: -8%;
  width: 79%;
  height: 11%;
  background: #fff;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.bottom-right {
  content: " ";
  position: absolute;
  bottom: -11%;
  width: 79%;
  right: -8%;
  height: 11%;
  background: #fff;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.bottom-left {
  content: " ";
  position: absolute;
  bottom: -11%;
  left: -2%;
  width: 37%;
  height: 11%;
  background: #fff;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.bottom-right {
  content: " ";
  position: absolute;
  bottom: -11%;
  width: 79%;
  right: -8%;
  height: 11%;
  background: #fff;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.bottom-left {
  content: " ";
  position: absolute;
  bottom: -11%;
  left: -2%;
  width: 37%;
  height: 11%;
  background: #fff;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
}

.sec1::before {
  content: " ";
  position: absolute;
  top: -30%;
  right: 0;
  width: 110%;
  height: 30%;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  background: #2749A7;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.product-section > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product-section--txt {
  line-height: 1.7;
  z-index: 12;
  overflow: hidden;
}

.product-section--txt::after {
  content: " ";
  position: absolute;
  top: 0;
  width: 142%;
  height: 100%;
  background: rgba(3, 43, 153, 0.86);
  z-index: -1;
}

.brush-img {
  position: absolute;
  top: 10%;
  right: 0%;
  z-index: -1;
  -webkit-filter: hue-rotate(290deg);
          filter: hue-rotate(290deg);
}

.product-section--txt.odd::after {
  right: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-44.5deg);
          transform: rotate(-44.5deg);
  display: none;
}

.product-section--txt.even::after {
  left: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(44.5deg);
          transform: rotate(44.5deg);
}

.product-section--txt p {
  font-size: 3rem;
}

.bottle-capacity {
  font-size: 8rem;
  font-family: 'Lato', sans-serif;
}

.square {
  position: absolute;
  width: 60%;
  height: 80%;
  top: 10%;
  left: 20%;
  border: 3px solid #df4d60;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.product-section--img {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  z-index: 11;
}

.splash-img {
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#blog-sec-head span::before {
  content: " ";
  top: -30%;
}

.blog-posts-sec--body {
  width: 60%;
  margin: 0 auto;
}

.s-post {
  margin-bottom: 3em;
  padding-right: 1em;
}

.s-post .title {
  margin-bottom: 0.5em;
}

.s-post .summary {
  font-size: 0.8rem;
  color: #817f7f;
  margin-bottom: 1em;
  max-height: 72px;
}

.s-post .date {
  font-size: 0.8rem;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #000;
}

.s-post .date::after {
  content: "\25C0";
  position: absolute;
  top: 130%;
  left: 0;
  font-size: 0.7rem;
}

#slogan-sec {
  background-color: rgba(240, 95, 136, 0.664);
  z-index: 10;
}

#slogan-sec .bottom-right {
  background-color: #000;
  z-index: 10;
}

#slogan-sec .bottom-left {
  background-color: #000;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 254, 254, 0.24);
}

.slogan-sen {
  font-size: 3rem;
  color: #fff;
  text-shadow: 0px 0px 9px rgba(78, 78, 78, 0.84);
}

.scroll-pointer:hover {
  color: red;
  cursor: pointer;
}

.scroll-pointer--dot {
  /* animation: scroll infinite 1s; */
}

@-webkit-keyframes scroll {
  0% {
    margin-top: 0.5em;
  }
  100% {
    margin-top: 1em;
  }
  0% {
    margin-top: 0.5em;
  }
}

@keyframes scroll {
  0% {
    margin-top: 0.5em;
  }
  100% {
    margin-top: 1em;
  }
  0% {
    margin-top: 0.5em;
  }
}

.scroll-pointer {
  position: fixed;
  bottom: 1em;
  height: 2.5em;
  width: 1.4em;
  border-radius: 0.7em;
  border: 1px solid #000;
  z-index: 15;
}

.scroll-pointer--dot {
  width: 3px;
  height: 11px;
  border-radius: 15%;
  background: #000;
  margin: auto;
  margin-top: .5em;
}

/* mobile device styles */
@media only screen and (max-width: 575.98px) {
  .main-title--big {
    font-size: 5rem;
  }
  .first-frame {
    z-index: 100;
    height: calc(100vh - 4.3em);
    overflow: hidden;
    position: relative;
  }
  .main-title--little {
    margin-bottom: -1.2em;
  }
  .ozon-free {
    padding-right: 1em;
  }
  .aboutUs-sec {
    position: relative;
    width: 80%;
    margin: auto;
  }
  .product-back {
    height: 75vh;
    background-attachment: scroll;
  }
  #first-pr-btls {
    padding-top: 0em;
  }
  .section-title {
    font-size: 2rem;
  }
  .row-wrapper {
    width: 80%;
  }
  .row--txt {
    font-size: 1.1rem;
  }
  .product-back::before {
    right: -5%;
    width: 37%;
    height: 11%;
  }
  .blog-posts-sec--body {
    width: 80%;
  }
  .blog-posts-sec-img {
    margin-bottom: 2.5em;
  }
  #slogan-sec {
    /* pointer-events: none; */
  }
  footer {
    padding: 8em 2em 1em;
    /* z-index: 1000; */
  }
  .f-links a {
    padding: 1em 1em;
    border-bottom: 2px solid transparent;
  }
  .social-icon {
    padding: 0 0.5em;
  }
  .social-icon svg {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .f-agency {
    margin-top: 2em;
    text-align: center;
  }
  /* nav button{
        background: red;
        position: fixed;
        top: 1em;
        right: 1em;
        padding: 1em;
        z-index: 102;
    } */
  /* .menue{
        display: initial;
    } */
}

@media (max-width: 767.98px) {
  .first-frame {
    z-index: 100;
    height: calc(100vh - 4.3em);
    overflow: hidden;
  }
  .hero-mobile {
    display: initial;
    z-index: 2;
    /* background: red; */
    /* border-bottom: 3px solid #000; */
    background: white;
  }
  .pakh {
    content: " ";
    position: absolute;
    top: -15%;
    left: -3%;
    width: 110%;
    height: 62%;
    background: white;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
    z-index: -1;
  }
  .product-back {
    background-attachment: scroll;
  }
  .hero-mobile--txt {
    padding-top: 1em;
    /* font-size: 1rem; */
  }
  .main-title {
    display: none;
  }
  .hero-mobile img {
    width: 30%;
    height: 30%;
    margin: auto;
    display: block;
  }
}

/* phablet device styles */
@media (min-width: 576px) and (max-width: 767.98px) {
  .aboutUs-sec {
    width: 80%;
  }
  .product-back {
    height: 80vh;
  }
}

/* tablet device styles */
@media (min-width: 768px) and (max-width: 991.98px) {
  .aboutUs-sec {
    width: 70%;
  }
  .product-back {
    height: 90vh;
  }
}

@media (max-width: 991.98px) {
  .blog-posts-sec-img, .blog-posts-sec-summary {
    width: 100%;
  }
}
/*# sourceMappingURL=main-home.css.map */