.d-lg-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lg-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lg-flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.lg-flexdir-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lg-justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lg-justify-content-satrt {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.lg-justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.lg-justify-content-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lg-justify-content-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.lg-justify-content-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.lg-align-items-satrt {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.lg-align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lg-align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lg-align-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.lg-align-items-base {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.lg-flexbasis-100 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.lg-flexbasis-50 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.lg-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lg-flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.w-lg-50 {
  width: 50%;
}

.w-lg-100 {
  width: 100%;
}

.h-lg-100 {
  height: 100%;
}

/* positioning */
.p-fixed {
  position: fixed;
}

.p-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.p-relative {
  position: relative;
}

.p-abs {
  position: absolute;
}

.box {
  position: relative;
}

.center {
  position: absolute;
}

.center-hv {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.center-h {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.center-v {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* break pointa */
@media (max-width: 575.98px) {
  .d-xs-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .xs-flexdir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .xs-justify-content-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .xs-justify-content-satrt {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .xs-justify-content-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .xs-justify-content-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .xs-justify-content-sa {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .xs-justify-content-sa {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .xs-align-items-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .xs-align-items-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .xs-align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .xs-align-items-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .xs-align-items-base {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .xs-flexbasis-100 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .xs-flexbasis-50 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .xs-flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .xs-flex-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .w-xs-100 {
    width: 100%;
  }
  .w-xs-50 {
    width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sm-flexdir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sm-justify-content-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sm-justify-content-satrt {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sm-justify-content-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .sm-justify-content-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sm-justify-content-sa {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sm-justify-content-sa {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .sm-align-items-satrt {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sm-align-items-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .sm-align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sm-align-items-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .sm-align-items-base {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .sm-flexbasis-100 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .sm-flexbasis-50 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .sm-flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sm-flex-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .w-sm-100 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .md-flexdir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .md-justify-content-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .md-justify-content-satrt {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .md-justify-content-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .md-justify-content-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .md-justify-content-sa {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .md-justify-content-sa {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .md-align-items-satrt {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .md-align-items-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .md-align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .md-align-items-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .md-align-items-base {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .md-flexbasis-100 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .md-flexbasis-50 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .md-flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .md-flex-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .w-md-100 {
    width: 100% !important;
  }
}
/*# sourceMappingURL=media_queries.css.map */