@media only screen and (max-width: 600px) {
  nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 4em;
  }
  .menue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menue-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 4.3em;
    width: 100%;
  }
  .menue-body {
    height: 100vh;
    position: fixed;
    top: 4em;
    right: -100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    z-index: 101;
    width: 100%;
  }
  .menue-body.active {
    right: 0;
    background: #031f2b;
    z-index: 103;
  }
  .menue-body li {
    border: none !important;
    padding: 1.3em 0;
  }
  .logo {
    padding: 1em .7em;
  }
  .logo--comp {
    -webkit-transform: initial;
            transform: initial;
    line-height: initial;
  }
  .logo--category {
    margin-top: 0;
    font-size: .7rem;
  }
  .copy-r {
    display: none;
  }
  .hambergur {
    display: block;
  }
  .hambergur label {
    display: block;
  }
  .menue {
    direction: rtl;
  }
  .hambergur > span > span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 5px;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .hambergur > span > span:nth-child(2) {
    width: 25px;
  }
  .hambergur > span.is-active > span {
    background: #fff;
  }
  .hambergur > span.is-active > span:nth-child(2) {
    opacity: 0;
  }
  .hambergur > span.is-active > span:nth-child(1) {
    -webkit-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg);
  }
  .hambergur > span.is-active > span:nth-child(3) {
    -webkit-transform: translateY(-7px) rotate(-45deg);
            transform: translateY(-7px) rotate(-45deg);
  }
}
/*# sourceMappingURL=menue.css.map */