nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 102;
  color: black;
  background: #f7f7f7;
  padding: 1em 4em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5em 4em;
  font-size: 0.9rem;
}

nav.sticky .logo a {
  width: 70px;
  height: 70px;
}

nav.sticky form button {
  font-size: 0.9rem;
}

#menue-check {
  display: none;
}

.logo a {
  display: block;
  width: 80px;
  height: 80px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .logo img {
  width: 100%;
  height: 100%;
}

.menue-body {
  margin-left: auto;
}

.menue-body li {
  padding-left: 1em;
}

.menue-body a {
  color: #000;
  text-decoration: none;
}

.menue-body li a:hover {
  cursor: pointer;
}

.menue-body form button {
  background: transparent;
}

@media (max-width: 991.8px) {
  nav, nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    font-size: 0.9rem;
    padding: 0.2em 0;
  }
  .transparrent {
    background: transparent;
  }
  nav.sticky .logo a, .logo a {
    width: 60px;
    height: 60px;
    padding: 0.3em 0 0.3em 0.3em;
  }
  .menue-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    z-index: 105;
  }
  .transparrent {
    background-color: transparent;
  }
  .menue-body {
    background-color: rgba(0, 0, 0, 0.733);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    right: -100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* transition: all 0.3s ease-in-out; */
  }
  .menue-body.active {
    right: 0;
  }
  .menue-body a {
    color: #fff;
    font-size: 1.3rem;
  }
  .menue-body li {
    padding: 1em 0;
  }
  .hambergur {
    display: block;
    cursor: pointer;
  }
  .hambergur label {
    display: block;
  }
  .menue {
    direction: rtl;
  }
  .transparrent .hambergur > span > span {
    background-color: blue;
  }
  .hambergur > span > span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 5px;
    background-color: #000;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .hambergur > span > span:nth-child(2) {
    width: 21px;
  }
  .hambergur > span.is-active > span {
    background: #fff;
  }
  .hambergur > span.is-active > span:nth-child(2) {
    opacity: 0;
  }
  .hambergur > span.is-active > span:nth-child(1) {
    -webkit-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg);
  }
  .hambergur > span.is-active > span:nth-child(3) {
    -webkit-transform: translateY(-7px) rotate(-45deg);
            transform: translateY(-7px) rotate(-45deg);
  }
}
/*# sourceMappingURL=nav-menue.css.map */