@charset "UTF-8";
.posts {
  padding: 10em 1em 12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.post {
  -ms-flex-preferred-size: calc(33.33% - 1em);
      flex-basis: calc(33.33% - 1em);
  background: #da4a991f;
  color: #161616;
  padding: .5em;
  margin: 0.5em;
}

.p-inner {
  border: 1px solid #000;
  padding: .5em;
}

.p-inner::before {
  content: " ";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 25%;
  height: 15px;
  background: #da4a99;
}

.p-inner::after {
  content: " ";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 15px;
  height: 30%;
  background: #da4a99;
}

.p-inner--in {
  background: #ffffff;
  padding-bottom: .5em;
}

.post--img img {
  height: 300px;
}

.post--body {
  padding: 0 .5em;
}

.post--date {
  color: #738085;
  font-size: .8rem;
  float: left;
  padding-top: .5em;
}

.post--title {
  margin-top: 0.5em;
  padding: 0;
  font-size: 1.2rem;
}

.post--txt {
  font-size: .8rem;
  height: 9em;
  overflow-y: hidden;
  margin-bottom: 1.6em;
  color: #1b1b1b;
  line-height: 2;
}

.post--read {
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  background: #da4a99;
  padding: 0.5em 1.2em;
  -webkit-transition: padding 0.3s ease;
  transition: padding 0.3s ease;
  border-radius: 3em;
}

.post--read:hover {
  padding-left: 2em;
}

.post--read:hover .pr--arrow {
  opacity: 1;
  left: 0.2em;
}

.pr--arrow {
  position: absolute;
  left: 0.1em;
  opacity: 0;
  -webkit-transition: opacity .3s, left .3s;
  transition: opacity .3s, left .3s;
}

/* post page */
.post-page {
  padding: 10em 0;
  width: 60%;
  margin: auto;
}

.post-page-date, .post-page-time {
  color: #738085;
  font-size: .9rem;
}

.post-page-time::before {
  content: 'خواندن ';
}

.post-page-time::after {
  content: ' دقیقه ';
}

.post-page-head h1 {
  margin: 0;
  padding: 0;
}

.post-page-head {
  position: relative;
  margin: 5em 0;
  padding: 1em 1em;
}

.post-page-head::before, .post-page-head::after {
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  width: 10%;
  height: 20px;
  background: #da4a99;
}

.post-page-head::after {
  width: 20px;
  height: 100%;
  right: -20px;
}

.post-page-body img {
  display: block;
  width: 100%;
  margin: 1.5em 0;
}

.post-page-body h2 {
  font-size: 1.5rem;
}

.post-page-body h3 {
  font-size: 1.1rem;
}

.post-page-body a {
  color: #1688dc;
  text-decoration: none;
}

.post-page-body em {
  display: block;
  padding: 1em;
  background: #da4a991f;
  margin-bottom: .5em;
}

.post-page-body ul {
  list-style-type: disc;
  padding-right: 2em;
  line-height: 1.8;
}

.post-page-body em::before, .post-page-body em::after {
  font-size: 1.3rem;
}

.post-page-body em::before {
  content: '\275E';
}

.post-page-body em::after {
  content: '\275D';
}

.post-page-body {
  line-height: 2;
}

/* mobile device styles */
@media only screen and (max-width: 575.98px) {
  .post-page {
    width: 90%;
  }
  .post {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

/* phablet device styles */
@media (min-width: 576px) and (max-width: 767.98px) {
  .post-page {
    width: 80%;
  }
  .post {
    -ms-flex-preferred-size: calc(50% - 1em);
        flex-basis: calc(50% - 1em);
  }
}

/* tablet device styles */
@media (min-width: 768px) and (max-width: 991.98px) {
  .post-page {
    width: 70%;
  }
  .post {
    -ms-flex-preferred-size: calc(50% - 1em);
        flex-basis: calc(50% - 1em);
  }
}
/*# sourceMappingURL=posts.css.map */