.preload {
    position      : fixed;
    top           : 0;
    left: 0;
    width         : 100%;
    height        : 100vh;
    z-index       : 110;
    background    : #fff;
    opacity       : 1;
    transition    : all 0.3s ease-in-out;
    pointer-events: none;
}

/* body{
    width   : 100%;
    height  : 100vh;
    overflow: hidden;
} */
.preload-txt {
    font-family: 'Nosifer',
        cursive;
    /* text-transform: uppercase; */
    font-size        : 80px;
    opacity          : 0.08;
    transform        : translate(-50%, -150%);
}

.preload-img img {
    display      : block;
    width        : 200px;
    margin-bottom: 1.5em;
}

/* .dot{
    
    animation: dot 1s infinite ;
}
.dot2{
    animation-delay: 0.33s;
}
.dot3{
    animation-delay: 0.66s;
}
@keyframes dot{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
} */

@keyframes ldio-fhjjsdsmnct {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.ldio-fhjjsdsmnct div {
    position        : absolute;
    animation       : ldio-fhjjsdsmnct 1s linear infinite;
    width           : 80px;
    height          : 80px;
    top             : 10px;
    left            : 10px;
    border-radius   : 50%;
    box-shadow      : 0 2px 0 0 #e94d80;
    transform-origin: 40px 41px;
}

.loadingio-spinner-eclipse-kniuf1dcpp {
    width     : 60px;
    height    : 60px;
    display   : inline-block;
    overflow  : hidden;
    background: #ffffff;
}

.ldio-fhjjsdsmnct {
    width              : 100%;
    height             : 100%;
    position           : relative;
    transform          : translateZ(0) scale(0.6);
    backface-visibility: hidden;
    transform-origin   : 0 0;
    /* see note above */
}

.ldio-fhjjsdsmnct div {
    box-sizing: content-box;
}

/* generated by https://loading.io/ */