.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 110;
  background: #fff;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

/* body{
    width   : 100%;
    height  : 100vh;
    overflow: hidden;
} */
.preload-txt {
  font-family: 'Nosifer', cursive;
  /* text-transform: uppercase; */
  font-size: 80px;
  opacity: 0.08;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}

.preload-img img {
  display: block;
  width: 200px;
  margin-bottom: 1.5em;
}

/* .dot{
    
    animation: dot 1s infinite ;
}
.dot2{
    animation-delay: 0.33s;
}
.dot3{
    animation-delay: 0.66s;
}
@keyframes dot{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
} */
@-webkit-keyframes ldio-fhjjsdsmnct {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes ldio-fhjjsdsmnct {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.ldio-fhjjsdsmnct div {
  position: absolute;
  -webkit-animation: ldio-fhjjsdsmnct 1s linear infinite;
          animation: ldio-fhjjsdsmnct 1s linear infinite;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 0 0 #e94d80;
          box-shadow: 0 2px 0 0 #e94d80;
  -webkit-transform-origin: 40px 41px;
          transform-origin: 40px 41px;
}

.loadingio-spinner-eclipse-kniuf1dcpp {
  width: 60px;
  height: 60px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}

.ldio-fhjjsdsmnct {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(0.6);
          transform: translateZ(0) scale(0.6);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.ldio-fhjjsdsmnct div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* generated by https://loading.io/ */
/*# sourceMappingURL=preload.css.map */