.products-hero{
    height: 100vh;
}
.title-sec{
    font-size: 3rem;
    
    flex-basis: 70%;
}
.title-sec p{
    width: 100%;
    /* margin-right: 2em; */
    padding: 0;
    padding-right: 4em;
    margin: 0;
}
.image-sec{
    flex-basis: 30%;
}
.image-sec img{
    width: 100%;
    height: 100%;
}
.stroke-img{
    width: 100%;
    height: 100%;
}



.products-txt-section p{
    width: 60%;
    margin: auto;
    line-height: 2;
}
.products-grid{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10em;
    
}
.products-gid--product{
    flex-basis: calc(33.3333% - 1em);
    margin: 0.5em;
    border: 1px solid lightcoral;
    overflow: hidden;
}
.products-gid--product .product-img{
    height: 400px;
}
.products-gid--product .product-img img{
    width: 100%;
    height: 100%;
}
.product-title{
    width: 130%;
    position: absolute;
    left: 50%;
    min-height: 15%;
    transform: translateX(-50%) skewY(-4deg);
    bottom: -3%;
    color: rgb(41, 41, 41);
    background-color: rgba(255, 255, 255, 1);
    font-size: 1.2rem;
    z-index: 1;
    text-align: center;
    // transform: skew(3deg);
}
.product-title > div{
    transform: skewY(4deg);
    padding: 1em 4em 1em;
}
// .product-title::before{
//     content          : " ";
//     position         : absolute;
//     top              : -38%;
//     left             : -2%;
//     width            : 104%;
//     height           : 56%;
//     -webkit-transform: rotate(10deg);
//     transform        : rotate(3deg);
//     background       : rgba(255, 255, 255, 1);
        
// }
.products-gid--product img{
    transition: all 0.3s ease-in-out;
}
.products-gid--product:hover img{
    border: 1em solid lightcoral;
}
.prpage-link {
    font-size: 0.9rem;
    opacity: 0;
    padding: 0em 0.2em;
    background: lightcoral;
    border-radius: 3em;
    text-align: center;
}
.products-gid--product:hover .prpage-link{
    opacity: 1;
    z-index: 10;
    color: white;
}

.products-gid--product:hover .product-title{
    display: none;
}
.products-gid--product .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 128, 128, 0.507);
    opacity: 0;
}
.products-gid--product:hover .overlay {
    opacity: 1;
    
}
.products-row{
    overflow: hidden;
    border: 2px solid red;
    margin-bottom: 3em;
    height: 80vh;
}
.products-row--img img{
    border: 10px solid transparent;
    width: 100%;
}
.img_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    background: pink;
}

.products-row--title span{
    font-size: 3rem;
}

#stroke1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 600px;
    
    transform: translate(-50%,-50%);
}
.first-txt{

}

@media (max-width: 575.98px){
    .products-gid--product {
        flex-basis: 100%;
        margin    : 0;
        margin-bottom: 1em;
        text-align: center;
    }
    .products-txt-section p {
        width : 80%;
        margin: auto;
        line-height: 2.3;
    }
    .title-sec {
        font-size : 3rem;
        flex-basis: 100%;
    }
    .image-sec{
        display: none;
    }
}       


@media (min-width: 576px) and (max-width: 767.98px) {
    
    .title-sec {
        flex-basis: 45%;
    }
    .image-sec {
        flex-basis: 55%;
    }
    .products-gid--product {
        flex-basis: calc(50% - 1em);
        margin    : 0.5em;
        border    : 1px solid lightcoral;
        text-align: center;
    }
    
    .products-txt-section {
        height: 100vh;
    }
}   
