.product-wrapper{
    width: 70%;
    margin: 0 auto;
    padding-top: 10em;
    
    padding-bottom: 10em;
    
}
.product-wrapper::-webkit-scrollbar{
    display: none;
}


.product-image-section{
    flex-basis: 60%;
    
}

.product-info-section {
    
    padding-right: 2em;
    font-size    : 1rem;
    flex-basis: 40%;
}
#p-info-s.sticky{
    position: fixed;
    /* width: 40%; */
    top: 10%;
}
.product-info-section ul{
    padding-right: 1.5em;
    list-style-type: initial;
}
.mb-1{
    margin-bottom: 0.5em;
}
.sub-title{
    padding-top: 0.2em;
    color: rgb(165, 164, 164);
}

.capacity-vals span{
    text-align: center;
    flex-basis: 25%;
    padding: 1em;
    border : 2px solid rgb(165, 164, 164);
    margin-left: 0.3em;
    border-radius: 1em;
}
.capacity-vals span.active{
    border-color: hotpink;
}
.link-btn{
    display: inline-block;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    text-decoration: none;
    color: #000;
    /* padding: 1em 6em; */
    border: 2px solid hotpink;
    border-radius: 3em;
    background: hotpink;
    color: white;
}

.other-images{
    flex-basis: 60%;

}
.other-images img{
    width: 100%;
}

.sticky{
    position: fixed;
    top: 27%;
    width: 28%;
    height: 70vh;
    right: 57%;

}
.swiper-container{
    display: none;
}

.clear{
    display: none;
}
@media (max-width: 575.98px) {

    .product-wrapper{
        padding-top: 5em;
        padding-bottom: 3em;
    }
    .product-info-section > div{
        margin-top: 2em;
    }
    .product-image-section,.other-images{
        display: none;
    }
    .product-info-section{
        flex-basis: 100%;
        padding: 0;
    }

    .swiper-container {
        display: block;
        width : 90%;
        height: 300px;
        margin-bottom: 9em;
    }
    .swiper-container img{
        width: 100%;
        height: 300px;

    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .product-wrapper{
        padding-top: 5em;
        padding-bottom: 3em;
    }
    .product-info-section > div{
        margin-top: 2em;
    }
    .product-image-section,.other-images{
        display: none;
    }
    .product-info-section{
        flex-basis: 100%;
        padding: 0;
    }

    .swiper-container {
        display: block;
        width : 90%;
        height: 300px;
        margin-bottom: 9em;
    }
    .swiper-container img{
        width: 100%;
        height: 300px;

    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .product-wrapper{
        padding-top: 0;
        padding-bottom: 0;
    }
    .product-info-section{
        flex-basis: 100%;
    }
    .product-info-section > div{
        margin-top: 2em;
    }
    .product-image-section,.other-images{
        display: none;
    }
    .product-wrapper{
        padding-top: 2em;
        width: 40%;
        margin: 0;
    }
    .swiper-container{
        width: 60%;
        padding-top: 5em;
        margin: 0;
    }
    .product-wrapper{
        
        float: left;
    }

    .swiper-container {
        display: block;
        
        height: 29em;
        margin-bottom: 8em;
    }
    .swiper-container img{
        width: 100%;
        height: 100%;

    }
    .clear{
        display: block;
        clear: both;
    }

}