.hero-reg{
    width: 100%;
    height: 100vh;
    background-image: url(../images/reg.jpg);
    
    /* padding-top: 0; */
    
}
.reg-overlay{
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    background-color: rgba(255, 254, 254, .9);
    z-index: 2;
}
.reg-txt{
    z-index: 3;
}
.reg-txt p{
    line-height: 2;
}
.pr-link {
    display        : inline-block;
    padding        : 1em 2em;
    background     : #e94d80;
    color          : white;
    text-decoration: none;
    border-radius  : 2em;
}
.check-label{
    margin-bottom: 0.7em;
}
.check {
    display            : block;
    position           : relative;
    padding-right       : 1.6em;
    margin-bottom      : 12px;
    cursor             : pointer;
    font-size          : 0.9rem;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    color: #5f5f5f;

}
.check input {
    position: absolute;
    opacity : 0;
    cursor  : pointer;
    height  : 0;
    width   : 0;
}
.checkmark {
    position        : absolute;
    top             : 0;
    right            : 0;
    height          : 1.2em;
    width           : 1.2em;
    /* background-color: #eee; */
    border-radius: 0.2em;
    border: 1px solid #b9b9b9;
    outline: none;
}
.radio{
    border-radius: 50%;
}
.check:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check input:checked~.checkmark {
    background-color: #5c5c5c;
    border-color: #5c5c5c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content : "";
    position: absolute;
    display : none;
}

/* Show the checkmark when checked */
.check input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox.check .checkmark:after {
    left: 0.45em;
    top: 0.15em;
    width            : 5px;
    height           : 10px;
    border           : solid white;
    border-width     : 0 3px 3px 0;
    border-radius: 0.1em;
    -webkit-transform: rotate(45deg);
    -ms-transform    : rotate(45deg);
    transform        : rotate(45deg);
}

.check.radiobtn .checkmark:after {
    left             : 9px;
    top              : 9px;
    width            : 8px;
    height           : 8px;
    border-radius    : 50%;
    
}

@media (max-width: 991.8px){
    .reg-form{
        margin-top: 2em;
    }
    .checkbox.check .checkmark:after {
        left             : 0.31em;
        top              : 0em;
    }
    .reg-txt{
        width: 60%;
    }
}